
body{
    margin: 0px;
    color: #333;
}

a{
    color: #379AD5;
}

.info-page{
    background-color: #00A9EC;
    position: relative;
    padding: 1px;
    margin: 40px 0px 0;
}

.info-page-container{
    background-color: #FFF;
    padding: 40px;
    width: 632px;
    margin: 160px auto 0;
    position: relative;
}

.info-section{
    border-bottom: 1px solid #DDD;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.info-section img{
    margin: 0 30px;
}

.info-header{
    background-image: url(../images/learn-more/city.png);
    width: 712px;
    height: 102px;
    top: -102px;
    position: absolute;
    left: 0px;
}

.cloud1{
    background-image: url(../images/learn-more/clouds1.png);
    width: 166px;
    height: 51px;
    top: 40px;
    right: 100px;
    position: absolute;
}

.cloud2{
    background-image: url(../images/learn-more/clouds2.png);
    width: 94px;
    height: 40px;
    top: 70px;
    left: 90px;
    position: absolute;
}

.birds1{
    background-image: url(../images/learn-more/birds1.png);
    width: 57px;
    height: 40px;
    top: 155px;
    left: 70px;
    z-index: 9999;
    position: absolute;
}

.birds2{
    background-image:url("../images/learn-more/birds2.png");
    height:77px;
    position:absolute;
    right:130px;
    top:22px;
    width:112px;
}


.birds3{
    background-image:url("../images/learn-more/birds3.png");
    height:41px;
    position:absolute;
    right:60px;
    top:182px;
    width:117px;
    z-index:999;
}

.header{
   position: relative;
   height: 103px;
}

.header-bg{
    width: 100%;
    height: 103px;
    background-image: url(../images/menu_background.png);
    background-repeat: repeat-x;
    margin-bottom: 20px;
}

.big-map-body .header-bg{
    margin-bottom: 0px;
}

.mouse-over-overlay{
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #AAA;
    padding:10px;
    left: -50%;
}

.cluster-overlay{
    width: 250px;
    left: -135px;
}

.header .search{
    position: absolute;
    bottom: 0px;
    right: 15px;
    text-align: right;
}

#story-title input{
    width: 500px;
    padding: 5px;
    font-size: 18px;
}

#story-title{
    display: block;
}

#story-title input,
#story-title button{
    vertical-align: middle;
    line-height: 50px;
}

#story-title button{
    margin-left: 5px;
}

ul#messages {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
ul#messages li {
    padding: 5px 10px;
    background: #EFEFEF;
    margin: 3px;
    border: 1px solid #DDD;
    list-style: none;
}
ul#messages li a {
    float: right;
    color: #777;
    padding: 0px;
}

.story-steps{
    background-image: url(../images/3_step_claim_story.png);
    height: 48px;
    position: relative;
}

.story-steps .step1{
    display: block;
    height: 50px;
    width: 315px;
    position: absolute;
    left: 0px;
}

.story-steps .step2{
    display: block;
    height: 50px;
    width: 315px;
    position: absolute;
    left: 315px;
}

.story-steps .step3{
    display: block;
    height: 50px;
    width: 315px;
    position: absolute;
    left: 630px;
}

.story-steps .two{
    background-position: 0px -48px;
}

.story-steps .three{
    background-position: 0px -96px;
}

.story-steps .four{
    background-position: 0px -144px;
}

.grey-body{
    background-color: #EBEBEB;
    padding: 20px;
    width: 910px;
}

.recent-activity-box{
    width: 545px;
    float: left;
    margin-right: 20px;
}

.load-more{
    background-image: url(../images/borderBoxShadow.gif);
    width: 200px;
    height: 16px;
    padding: 5px;
    position: relative;
    margin: 15px auto;
    clear: both;
    border: 1px solid #DDD;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background-position: center bottom;
    background-color: #FFF;
}


.activity-box-body{
    padding: 1px 15px;
    background-color: #FFF;
}

.mainFooter{
    background-color: #1C384F;
    border-top: #1C384F;
    position: relative;
    display: block;
    padding: 1px 10px;
    color: #FFF;
}

.mainFooter a{
    color: #FFF;
}

.mainFooter a{
    color: #FFF;
    text-decoration: none;
}

.mainFooter .meta{
    position: absolute;
    right: 20px;
    bottom: 4px;
    text-align: right;
}

.mainFooterBox,
.mainFooterFirstBox{
    float: left;
    margin: 20px 20px 30px 20px;
}

.mainFooter li{
    list-style: none;
    margin: 2px 0px;
}

.mainFooter ul{
    margin: 0px;
}


.mainFooter h3{
    font-weight: normal;
    margin-bottom: 3px;
    margin-top: 0px;
}

.search{
    float: right;
    margin: 5px 0 0 0 !important;
}

.side-content-column{
    float: left;
    width: 345px;
}

.side-content-column .big-input input[type="text"]{
    width: 300px;
}

.white-sidebox{
    background-color: #FFF;
    padding: 18px 15px;
    margin-bottom: 20px;
    position: relative;
}

.white-sidebox h3{
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}

.blue-header{
    background-image: url('../images/light-blue-vertical-gradient.png');
    margin: 1px;
    height: 32px;
    padding-top: 1px;
}

.blue-header h3{
    margin: 0 0 0 15px;
    color: #FFF;
    font-weight: normal;
    line-height: 32px;
}

.box-body{
    background-color: #FFF;
    padding-bottom: 1px;
}

form.signup input[type="submit"], form.login input[type="submit"] {
    margin: 20px 0;
    font-size: 14pt;
}
input[type="file"], input[type="text"], input[type="password"], textarea {
    padding: 3px;
    margin: 1px;
    border: solid 1px #C6C6C6;
    border-bottom: solid 1px #E3E3E3;
    color: #666;
    font-size: 11pt;
    background: #F3F3F3 url('../images/form-shadow.png') left top repeat-x;
}


.ctrlHolder {
    clear:both;
    float:left;
    margin-bottom: 10px;
}
.ctrlHolder label {
    display:block;
    float:left;
    margin-right:20px;
    text-align:right;
    width:200px;
}
.ctrlHolder p {
    clear:both;
    margin-left:220px;
}
.uniform_buttons {
    clear:both;
    margin-left:220px;
}

#dialog-container .ctrlHolder label {
    width:100px;
}

#dialog-container .ctrlHolder p {
    margin-left:120px;
}

#dialog-container .uniform_buttons {
    margin-left:120px;
}

#dialog-container h3,
#dialog-container h2{
    margin: 0px 0 10px;
    padding: 0px;
}

#basic-form {
}

#info-panel{
    background-color: #FFF;
    width: 400px;
    z-index: 2;
    position: absolute;
}

#map_canvas{
    position: relative;
    border-bottom: 3px double #1C384F;
}

.story-view #map_canvas{
    border-bottom: none;
}

.activity-action{
    font-weight: bold;
    padding: 2px 5px;
}

.info-padder .stats{
    margin: 10px 0;
    padding: 0px;
}

.info-padder h3{
    margin-bottom: 0px;
}

.info-padder {
    padding: 10px;
}

.story-headline{
    width: 875px;
    background-color: #1C384F;
    float: left;
    height: 50px;
    vertical-align: middle;
    color: #FFF;
    padding: 0 0 0 15px;
    background-image: url(../images/story-header-arrow.png);
    background-repeat: no-repeat;
    background-position: center left;
}

.story-headline span{
    vertical-align: middle;
    line-height: 50px;
    font-size: 18px;
}

.story-icon{
    background-color: #1C384F;
    height: 50px;
    width: 50px;
}

.story-head{
    width: 890px;
    height: 50px;
    margin-bottom: 10px;
}

.grey-round-bg,
.white-round-bg{
    padding: 10px;
    background-color: #FFF;
    position: relative;
}



.white-padded-round-bg{
    padding: 15px;
    background-color: #FFF;
    margin-bottom: 20px;
}

.white-padded-round-bg h2{
    margin-top: 0px;
    color: #333;
    font-weight: normal;
    font-size: 18px;
}

.gpx-height-graph{
    overflow: hidden;
}

.gpx-height-graph div{
    overflow: auto;
}

.section{
    margin-bottom: 15px;
    border-bottom: 1px dotted #DDD;
}


#adaptingContainer{
    position: relative;
    overflow: hidden;
}

#map{
    width: 100%;
    height: 320px;
}



.connect-button{
    margin-bottom: 0px !important;
    text-align: right;
}


.top-heading{
    margin-top: 0px !important;
}

.inset {
    background-color:#FFFFFF;
    left:0;
    padding:5px 15px 5px 15px;
    position:absolute;
    top:30px;
    min-width: 80px;
    max-width: 200px;
}

.big .startBoxContent .inset{
    padding: 15px;
    position:absolute;
    top:80px;
    min-width: 180px;
    max-width: 300px;
}

.mapheader{
    margin: 0 20px 5px 20px;
    width: auto;
}

.mapheader .logo{
    position: absolute;
}

.logo{
    left:24px;
    top:15px;
    position: absolute;
}

.main-menu{
    padding: 2px;
}


.big-map-body #map_canvas{
    border-bottom: 0px solid #000;
}

.main-menu ul{
    margin: 0px;
    padding: 0px;
}

.main-menu ul li{
    float: left;
    list-style: none;
    padding: 4px 10px 2px;
    height: 20px;
    line-height: 20px;
}

.main-menu input{
    -moz-border-radius: 4px;
    background-image: none;
    background-color: #FFF;
}

.main-menu ul li a{
    text-decoration: none;
    font-size: 15px;
    text-shadow: 1px 0px 1px #FFF;
    line-height: 15px;
    vertical-align: bottom;
    color: #999;
}

.main-menu ul li a:hover{
    color: #666;
}

.main-menu ul li a.highlighted{
    color: #379AD5;
}


.main-menu-container{
    margin: 0px;
    position: absolute;
    bottom: 2px;
}

.mapview-option-panel{
    background-color: #EFEFEF;
    border-top: 1px solid #DDD;
    bottom:0;
    position:absolute;
    width:100%;
}

.infoBoxContentButton{
    padding: 12px;
    text-align: center;
}

.front-dialog{
    padding: 10px;
    border: 1px solid #DDD;
    background-color: #EFEFEF;
}

.front-dialog .front-dialog-content{
    background-color: #FFF;
    border: 1px solid #AAA; 
    padding: 20px;
    position: relative;
}


.dialogclosebutton:hover {
    background-image:url(../images/dialog/close_h.gif);
}

.dialogclosebutton {
    background-color:transparent;
    background-image:url(../images/dialog/close.gif);
    background-repeat:no-repeat;
    cursor:pointer; 
    height:11px;
    position:absolute;
    right:0px;
    top:0px;
    width:11px;
    z-index:999;
}

.big-input #location_search{
    line-height: 30px;
    font-size: 20px;
}

.big-input,
.big-input input[type="text"],
.big-input button[type]{
    line-height: 25px;
    font-size: 16px;
}

.big-input button[type],
.big-input input[type="text"]{
    margin: 0 10px 0 0;
    padding: 6px;
    vertical-align: middle;
}

.big-input input[type="text"]{
    width: 240px;
}

.topmenu hr{
    margin: 4px 0px;
}

.map-line-menu{
    position: absolute;
    width: 300px;
    right: 0px;
    top: 48px;
    z-index: 99;
}

.map-line-menu .line-list{
    background-color: #FFF;
    border: 1px solid #EFEFEF;
}

.map-line-menu .line-list .line{
    padding: 5px;
    position: relative;
    border-bottom: 1px solid #EEE;
    background-image: url(../images/borderBoxShadow.gif);
    background-position: bottom right;
    background-repeat: repeat-x;
    background-color: #FFF;
}

.map-line-menu .line-list .line .options{
    position: absolute;
    right: 6px;
}


.cancel-x{
    background-image: url(../images/cancel_red.gif);
    width: 16px;
    height: 16px;
    float: right;
    vertical-align: middle;
    background-repeat: no-repeat;
    cursor: pointer;
}

.storylineitem .cancel-x{
    margin-left: 5px;
    margin-top: 7px;
}

.topbar .cancel-x{
    background-image: url(../images/cancel.gif);
    margin-top: 3px;
}

.storylineitem .edit{
    background-image: url(../images/gear.png);
    width: 18px;
    height: 19px;
    float: right;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-top: 5px;
}


.story-list{
    margin: 0px !important;
    padding: 0px;
}

.topbar{
    margin-bottom: 5px;
    padding: 4px 10px;
    height: 20px;
    text-align: center;
    background-image: url('../images/light-blue-vertical-gradient.png');
    color: #FFF;
    line-height: 20px;
    font-size: 14px;
}

.storyline,
.storylineitem{
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    clear: both;
    list-style: none;
    background-color: #FFF;
    margin-bottom: 4px;
    padding: 3px 5px;
}

.storylineitem:hover{
}

.storylineitemdrag span,
.storylineitem span{
    vertical-align: middle;
    font-size: 12px;
    line-height: 30px;
    color: #666;
    margin-left: 6px;
}

.storylineitemdrag{
    border-top: 1px dotted #DDD;
    background-color: #EFEFEF;
}

.drop-target-wrapper{
    width: 31px;
    height: 31px;
    float: right;
}

.draggable-placed-wrapper{
    width: 25px;
    height: 31px;
    float: right;
}

.draggable{
    background-image: url(../images/dragMarker_h.gif);
    width: 31px;
    height: 31px;
}

.draggable-placed{
    background-image: url(../images/list_marker.gif);
    width: 18px;
    height: 18px;
    margin: 6px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.draggable-placed:hover{
   background-position: 0 -18px;  
   height: 20px;
}

.storyline-edit-screen{
    background-color: #EBEBEB;
    padding: 10px;
}

.round-grey-box{
    background-color: #EBEBEB;
    padding: 10px;
}

.round-grey-box h3{
    margin: 3px 4px;
}

.storyline-edit-screen h2{
    margin-top: 0px;
    line-height: 26px;
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 23px;
}

#story-edit-container{
    background-color: #EBEBEB;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    
}

#story-edit-container h2{
    margin: 0 0 5px 0;
    line-height: 25px;
}

.story-preview-edit textarea{
    width: 355px !important;
}

#story-edit-container textarea{
    width: 455px;
    height: 110px;
}

.story-continue{
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.big-green-button,
.container .big-green-button{
    font-size: 22px !important;
    text-align: center;
    padding: 15px 40px !important;
    width: 250px;
    margin: 0 auto;
    background-image: url(../images/button_gruen_gross.png);
    color: #FFF;
    text-decoration: none;
    border: 1px solid #333;
    display: block;
}

.big-green-button:hover,
.container .big-green-button:hover{
    color: #FFF;
    border: 1px solid #333;
}

.medium-green-button,
.container .medium-green-button{
    font-size: 18px !important;
    text-align: center;
    padding: 10px 30px !important;
    width: 120px;
    margin: 0 auto;
    background-image: url(../images/button_gruen_gross.png);
    color: #FFF;
    text-decoration: none;
    border: 1px solid #333;
    display: block;
}

.medium-green-button:hover,
.container .medium-green-button:hover{
    color: #FFF;
    border: 1px solid #333;
}

.small-green-icon-button,
.small-green-button,
.container .small-green-button{
    font-size: 16px !important;
    text-align: center;
    padding: 2px 15px !important;
    margin: 0 auto;
    background-image: url(../images/button_gruen.png);
    color: #FFF !important;
    text-decoration: none;
    border: 1px solid #333 !important;
    display: block;
    font-weight: normal;
}

.small-green-icon-button{
    padding: 2px 3px !important;
}

.small-green-icon-button:hover,
.small-green-button:hover,
.container .small-green-button:hover{
    color: #FFF;
    border: 1px solid #333;
}

#create-story-dialog h2{
    font-size:18px;
    font-weight:normal;
    margin-bottom:4px;
    margin-top:3px;
}

#create-story-dialog input[type="text"]{
    height:30px;
    width:310px;
    line-height: 30px;
    font-size: 22px;
    padding: 5px;
}

#create-story-dialog button{
    margin-right: 1px;
    margin-top: 4px;
}

.dragHandle {
	display: block;
    margin-right: 2px;
	float: right;
	width: 7px;
	height: 30px;
    margin-top: 2px;
	background:#fff;
	cursor: move;
    background-image: url(../images/handle.png)
}


.storylineitem{
    height: 30px;
}

.right-panel{
    margin-top: 60px;
}

#edit_storylinitem{
    width: 910px;
    height: 100%;
    z-index: 9999;
}

#overal_location_map{
    width: 100%;
    height: 120px;
    overflow: hidden;
}

#detail_location_map{
    width: 100%;
    height: 240px;
    overflow: hidden;
    margin-top: 10px;
}

.ctrlHolder #map {
    height:250px;
    width:510px;
}

.barShadow{
    background:url("../images/shadow.png") repeat-x scroll 0 0 transparent;
    height:2px;
    overflow:hidden;
    position:absolute;
    width:100%;
    z-index:3;
}

#location-search{
   position: absolute;
   overflow: visible;
    right: 0px;
    top: -1px;
    z-index: 999;
    text-align: right;
    background-image: url(../images/borderBoxShadow.gif);
    background-repeat: repeat-x;
    background-position: bottom;
    border: 1px solid #DDD;
    background-color: #FFF;
}

#location-search input{
    width: 230px;
}

.default-story-icon{
    background-color: #FFF;
    margin: 1px;
    height: 48px;
}


.line-link{
   padding-left: 22px;
   background-image: url(../images/polyline.png);
   background-repeat: no-repeat;
   line-height: 16px;

}

.wysiwyg-container{
    float:left;
    margin-left:220px;
}

.intro-wrapper{
    height: 399px;
    background-image: url(../images/maptales_header.png);
    background-color: #FFFFFF;
    position: relative;
}

.account-menu{
    background-color: #FFF;
    padding: 5px;
    margin-bottom: 10px;
}

.account-menu ul{
    margin: 0px;
}

.account-menu li{
    margin: 4px 10px;
    list-style: none;
    float: left;
    
}

.register-bg{
    height: 399px;
    background-image: url(../images/maptales_header.png);
    background-color: #FFFFFF;
    position: relative;
}
.register-bg form{
    background-color: #FFF;
    padding: 20px;
    margin: 0px;
}

.maptales-marker-wrapper  {
    height:1px;
    overflow:visible;
    position:absolute;
    width:1px;
}

.thin-form p,
.register-bg p,
.thin-form .uniform_buttons,
.register-bg form .uniform_buttons{
    margin-left: 140px;
}

.thin-form .ctrlHolder label,
.register-bg .ctrlHolder label{
    width: 120px;
    margin-top: 6px;
}

.round-big-counter{
    background-color: #AAA;
    color: #666;
    float: right;
    padding: 10px;
    margin: 0 0 0 10px;
    text-align: center;
    text-shadow: 1px 1px 0px #CCC;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.user_has_badge{
    color: #136895;
    font-weight: bold;
}

#facebox{
    z-index: 10000 !important;
}

#facebox .loading{
    padding-left: 0px;
    background-image: none;
    text-align:center;
    background-repeat: no-repeat;
    font-weight: bold;
    color: #555;
    margin: 50px auto;
}

.feedback{
    position: fixed;
    left: 0px;
    top: 130px;
    border-right: 3px solid #1C384F;
    border-top: 3px solid #1C384F;
    border-bottom: 3px solid #1C384F;
    width: 30px;
    height: 120px;
    background-image: url(../images/feedback.png);
    z-index: 9999;
}

.big-map-body .feedback{
    display: none;
}

.round-big-counter:hover{
    background-color: #BBB;
}

.round-big-counter span{
    font-size: 22px;
    line-height: 22px;
    text-align: center;
}

.round-big-counter h3{
    margin: 0px;
    text-align: center;
    
}

#facebox h1{
    font-weight: normal;
    margin-bottom: 10px;
}

#facebox .ctrlHolder label{
    width: auto;
    display: block;
    float: none;
    text-align: left;
}

#facebox{
    font-size: 12px;
}

#facebox textarea{
    width: 355px;
}

#facebox button{
    float: right;
}

#errorMsg{
    
}

#errorMsg ul{
    margin: 0px;
    padding: 0px;
}

#errorMsg ul li{
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 0px;
    color: #FF0000;
}

.thin-form textarea{
    width: 350px;
    height: 120px;
}

.register-bg .register-wrapper{
    background-color: #1C384F;
    padding: 10px;
    position: absolute;
    left: 150px;
    bottom: -10px;
}

.intro-teaser{
    overflow: hidden;
    position: relative;
    width: 530px;
    height: 100%;
}

.header-line{
    position: absolute;
    width: 0px;
    height: 115px;
    background-image: url(../images/maptales_header_line.png);
    overflow: hidden;
    background-repeat: no-repeat;
    bottom: 9px;
}

.header-bubble{
    width: 106px;
    height: 27px;
    overflow: hidden;
    padding: 8px 10px 20px 10px;
    position: absolute;
    background-image: url(../images/bubble.png);
    background-repeat: no-repeat;
    line-height: 13px;
    font-size: 11px;
}

.intro-teaser a:hover{
    color: #EFEFEF;    
}

.intro-teaser a{
    color: #FFF;
}

.intro-teaser p{
   line-height: 20px; 
}


.intro-teaser h1{
   font-weight: normal;
   font-size: 24px;
   line-height: 30px;
}




.social-login-teaser{
    left:545px;
    position:absolute;
    top:60px;
}

.social-login-teaser h2{
    margin-bottom: 2px;
    font-size: 14px;
}

.teaser-slide{
    color: #FFF;
    padding: 50px 10px 0 30px;
    width: 450px;
}

.phone-teaser-right,
.phone-teaser-left{
    width: 150px;
    float: left;
    text-align: center;
}

.phone-teaser-left{
    margin-right: 15px;
}

.intro-pagination{
    background-image: url(../images/3_step_claim.png);
    height: 48px;
}

.two{
    background-position: 0px -48px;
}

.three{
    background-position: 0px -96px;
}


.intro-pagination div{
    float: left;
    width: 316px;
    height: 49px;
    cursor: pointer;
}

#intro-container{
    width: 20000px;
    position: absolute;
}

.big .storyPic{
    width: 442px;
    height: 280px;
}

.storyPic{
    overflow: hidden;
    width: 302px;
    height: 160px;
    background-image: url(../images/story_background.gif);
    background-repeat: repeat;
    position: absolute;
}

.inset h2 a,
.inset h2{
    font-size: 18px;
    margin: 0px;
    font-weight:normal;
    line-height: 26px;
    color: #0084D7;
    text-decoration: none;
}

.inset h3{
    font-size: 12px;
}

.inset p{
    font-size: 12px;
    margin: 0px;
    line-height: 14px;
}

.gallery-photo-medium{
    width: 300px;
    float: left;
    margin: 0 10px 30px 0;
}


.pagination{
    text-align: center;
}

.pagination_simple{
    position: relative;
    height: 25px;
    clear: both;
    margin-top: 5px;
    background-color: #EFEFEF;
    padding: 3px 8px 0px 8px;
    border-top: #666;
    background-image: url('../images/light-blue-vertical-gradient.png');
}

.pagination_simple .prev{
    position: absolute;
    left: 13px;
    color: #FFF;
    line-height: 22px;
}
.pagination_simple .next{
    position: absolute;
    right: 13px;
    color: #FFF;
    line-height: 22px;
}

.pagination .prev,
.pagination .next,
.pagination .page{
   padding: 5px 10px;
   background-color: #EFEFEF;
}

.pagination .prev:hover,
.pagination .next:hover,
.pagination .page:hover{
   background-color: #379AD5;
   color: #FFF;
}

.pagination .current,
.pagination .current:hover    
.pagination .disabled:hover,
.pagination .disabled{
   background-color: #EFEFEF !important;
   color: #BBB !important;
}

.user-stream-module{
   margin-bottom: 20px;
}

.user-stream-module h1{
   margin-top: 0px;
}

.post-comment textarea{
    width: 615px;
    font-family: Helvetica, sans-serif, Arial;
}
.post-comment button{
    float: right;
}

.post-comment #basic-form{
    text-align: right;
}

.story-pause,
.story-play{
    cursor: pointer;
    color: #FFF;
    line-height: 26px;
}

.story-play:hover{
   background-position: 0 -75px; 
}

.story-pause{
    background-position: 0 -150px;
}

.story-pause:hover{
   background-position: 0 -225px; 
}

.story-slideshow{
    height: 60px;
    left: 5px;
    top: 5px;
    width: 100%;
}

.story-slideshow .backward{
    height: 75px;
    width: 21px;
    position: absolute;
    left: 0px;
    cursor: pointer;
    z-index: 99;
    background-image: url(../images/scrollBackward_75.gif)
}

.story-slideshow .backward:hover{
    background-position: 0 -75px;
}

.story-slideshow .backward.disabled{
    background-position: 0 -150px;
}

.story-slideshow .foreward{
    height: 75px;
    width: 21px;
    position: absolute;
    right: 0px;
    cursor: pointer;
    z-index: 99;
    background-image: url(../images/scrollForeward_75.gif)
}

.story-slideshow .foreward:hover{
    background-position: 0 -75px;
}

.story-slideshow .foreward.disabled{
    background-position: 0 -150px;
}


.story-slideshow .story-slideshow-clip{
    margin: -1px 45px;
    overflow: hidden;
    height: 88px;
    position: relative;
}


.story-slideshow .story-slideshow-list{
    position: absolute;
    height: 77px;
    width: 200000px;
    overflow: visible;
}

.story-slideshow .story-slideshow-listitem{
    float: left;
    margin-right: 11px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    top: 1px;
    padding: 4px;
    border: 1px solid #EFEFEF;
}



.story-slideshow .selected{
    border: 1px solid #4BA2D5;
    background-color: #4BA2D5;
}

.story-top-bar{
    height:47px; 
    background-image: url(../images/deep-blue-gradient.png);
    background-repeat: repeat-x;
}

.story-top-bar h3{
    color: #FFF;
    font-weight: normal;
    line-height: 50px;
    margin: 0 0 0 28px;
    font-size: 24px;
}

.story-body{
    background-image: url(../images/map-bg-fade.jpg);
    background-repeat: repeat-x;
}

.full-storyline{
    position: relative;
    height: 85px;
    background-color: #EBEBEB;
}

#story-intro-wrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
}

#story-intro{
    position: relative;
    margin: 60px auto;
    width: 650px;
    z-index: 101;
    background-color: #FFF;
    padding: 20px;
}

#story-intro-bg{
    position: absolute;
    background-color: #FFF;
    opacity: 0.3;
    z-index: 100;
    top: 0px;
    left: 0px;
}


.profile-signature-image img {
    bottom:-6px;
    position:relative;
    border: 1px solid #BBB;
}

.profile-signature-image {
    line-height:24px !important;
    margin:0;
    text-decoration:none;
    vertical-align:middle;
    padding: 1px !important;
}

.profile-signature-image:hover{
    background: transparent !important;
}

.profile-signature-link {
    line-height:24px !important;
    margin:0 0 0 4px;
    padding:0 !important;
    vertical-align:middle;
}


#storyline_scroller .scroll-backward{
    height: 100%;    
}


#storyline_scroller .scroll-foreward{
    height: 100%;    
}

#storyline_content{
    overflow: auto;
    min-height: 360px;
    position: relative;
    margin:0 46px;
    background-color: #FFF;
}

#storyline_content #attachments{
    margin: 0px auto;
    width: 578px;
    position: relative;
}

#storyline_content #attachments img{
    display: block;
    margin: 0 auto;
    position: relative;
}

.exportBox a{
    text-decoration: none;
    color: #333;
}

.exportBox li{
    list-style: none;
}


.exportBox ul{
    margin: 3px;
}

.grey-round-bg{
    background-color: #EFEFEF;
}
.white-round-bg h3,
.grey-round-bg h3{
    font-weight: normal;
    margin: 3px 0 5px 3px;
}

.loading{
    padding-left: 28px;
    background-image: url(../images/loading-24.gif);
    vertical-align: middle;
    line-height: 24px;
    position: relative;
    margin: 100px auto 0 auto;
    width: 80px;
    text-align:left;
    background-repeat: no-repeat;
    font-weight: bold;
    color: #555;
}

.loading span{
    line-height: 24px;
    vertical-align: middle;
}

.select-list .loading{
    margin-top: 30px;
    margin-bottom: 40px;
}

.marker-content .loading {
    height:24px;
    left:-12px;
    margin:auto;
    padding:0;
    top:-60px;
    width:24px;
    z-index:999;
}

.marker-content .loading-span {
    color:#379AD5;
    left:-37px;
    position:absolute;
    text-align:center;
    top:-30px;
    width:75px;
    z-index:999;
}

.nice-form label{
    width: 160px;
}

.nice-form .ctrlHolder{
    width: 100%;
     text-align: right;
}

.nice-form .uniform_buttons{
    text-align: right;
}

.addthislinks div{
    margin: 5px;
}

.activity-stream{
    padding: 0px;
    margin: 0px !important;
}


.activity-stream li{
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px dotted #CCC;
}

.activity-stream li .subtext{
    padding: 5px;
    margin-left: 30px;
    margin-top: 10px;
}

.activity-stream li .date-bar{
    font-size: 12px;
    margin: 8px 0 0 5px;
}

#placement-text{
    padding: 5px 10px;
    font-weight: bold;
    color: #FFF;
    margin: 10px 0px;
}

.low-precission{
    background-color: #cf0000;

}

.medium-precission{
    background-color: #c78800;

}

.good-precission{
    background-color: #00d938;

}

.perfect-precission{
    background-color: #2bcb2b;

}

#location-submit-text{
    display: none;
}

.line-segment{
    border: 1px solid #DDD;
    padding: 5px;
    margin-bottom: 2px;
    font-size: 14px;
    background-color: #EFEFEF;
}

.user-header{
    margin: 0 0 10px 10px;
}

.user-header h1 a{
    color: #379AD5;
    font-weight: bold;
    text-decoration: none;
}

.right-profile-panel h3{
    font-size: 14px;
    margin-bottom: 0px;
}

.imageLink {
	background-color: transparent;
	color: #FFFFFF !important;
    padding: 0px !important;
}

.imageLink:hover {
	background-color: transparent;
	color: #FFFFFF !important;
}

.ui-tabs-nav{
    margin: 0px !important;
}

.notice_settings{
    width: 500px;    
}

.notice_settings th,
.notice_settings td{
    text-align:left;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.notice_settings td{
    font-size: 16px;
    color: #444;
}

.notice_settings td span{
   font-size: 12px;
    color: #777;
}

.notice_settings .checkbox-field{
    text-align: center;
}

.following-icon{
    font-size: 12px; 
    font-weight: normal;
    vertical-align: super;
}

.following-icon a{
    background-color: #379AD5;
    color: #FFF !important;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 10px;
}

.following-icon a:hover{
  background-color: #A6AE00;  
}

.following-icon span{
  background-color: #A6AE00;
    color: #FFF;
    padding: 1px 5px;
    margin-right: 4px;
    font-weight: bold;
}

.line-mouse-position-marker{
    background-image: url(../images/mapitems/lineMouseOver.png);
    width: 10px;
    height: 10px;
    left: -5px;
    top: -5px;
    position: absolute;
}

#line_overlay_label_content{
   background-color: #EEEEEE;
   color: #379AD5;
   font-size: 12px;
   padding: 10px;
   line-height: 16px;
    width: 200px;
}

.story-image-upload{
    text-align: center;
}

.upload-or-link{
    background-color:#FFF;
    padding: 10px;
}

.voting{
    text-align: center;
}

.voting h5{
    margin-top: 5px;
}

.vote-up{
    background-image: url(../images/voting/like-grau.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 0 10px;
    float: left;
    cursor: pointer;
}

.vote-down{
    background-image: url(../images/voting/dislike-grau.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 0 10px;
    float: left;
    cursor: pointer;
}

.up-vote .vote-up{
    background-image: url(../images/voting/like-gruen.png);
}

.down-vote .vote-down{
    background-image: url(../images/voting/dislike-rot.png);
}

.dialog-result-panel{
    padding: 10px;
    background-color: #FFF;
    font-size: 14px;
    margin-top: 15px;
}

.vote-up-down{
    margin: 0px auto;
    width: 180px;
}

.select-list .photo{
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px;
}

.photo.selected{
    background-color: #379AD5;
}

.content-selector{
    margin: 10px 0;
}

.select-header{
    position: relative;
}

.select-submit{
    float: right;
}


#selected-items-list img{
    height: 30px;
    width: 30px;
    margin-right: 4px;
    vertical-align: middle;
}

#selected-items-list span{
    vertical-align: middle;
    line-height: 30px;
}

#selected-items-list{
    margin: 10px 0;
    vertical-align: middle;
    background-color: #EFEFEF;
    padding: 5px 10px;
    height: 30px;
    display: none;
}

#selected-items-list button{
    line-height: 30px;
}

#post-attachements{
	margin-bottom: 5px;
	height: 30px;
}

#post-form,
#post-form-instance{
    margin: 0px;
}

.select-list{
    margin-top: 15px;
}

.ui-tabs .ui-tabs-panel {
    border-top: 1px dotted #CCC !important;
}

.ui-tabs-nav{
    background: transparent;
    border: 0px solid #FFF;
}


table.messages {
    width:100%;
}
table.messages tbody tr {
    border-bottom:1px solid #CCCCCC;
}
table.messages tr th, table.messages tr td {
    padding:5px;
    text-align:left;
}
table.messages tr th {
    border-bottom:1px solid #999999;
    font-weight:bold;
}

.ajax-message{
    background:#FFF none repeat scroll 0 0;
    border:1px solid #DDD;
    margin:3px;
    padding:5px 10px;
    text-align: center;
}

.select-list li{
    padding: 10px;
    border-bottom: 1px dotted #DDD;
    cursor: pointer;
}

.select-list li:hover{
    color: #FFF;
    background-color: #379AD5;
    font-weight: bold;
}

#edit_storylinitem .loading{
    margin-bottom: 200px;
}

.rotate-image{
    width: 355px;
    padding: 5px;
    background-color: #FFF;
    text-align: center;
    overflow: hidden;
}

#storyline_content .rotate-image{
    width: 578px;
    padding: 0px;
    margin: auto;
}

.post-text{
    bottom:22px;
    color:#FFFFFF;
    font-size:16px;
    left:15px;
    position:absolute;
    z-index:2;
    margin-right: 5px;
    line-height: 20px;
}

.storylineitem-pagination{
    text-align: center;
}

.storylineitem-pagination div,
.storylineitem-pagination a{
    background-color: #FFF;
    color: #666;
    border: 1px solid #FFF;
    padding: 4px;
    margin-left: 4px;
    display: inline-block;
    text-decoration: none;
}

.storylineitem-pagination div{
    float: left;
    cursor: pointer;
}

.storylineitem-pagination .selected{
    background-color: #379AD5;
    border-color: #379AD5; 
    color: #FFF;
    font-weight: bold;
}

.pagination-and-text .storylineitem-pagination{
    text-align: center;
    position: relative;
    width: auto;
    height: 20px;
}

.pagination-and-text{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 23px;
    z-index: 2;
}


.post-list-35-30{
    background-image: url(../images/post-35-30.gif);
    width: 35px;
    height: 30px;
    border: 1px solid #EFEFEF;
    float:  left;
}

.post-list-75-75{
    background-image: url(../images/post-75-75.gif);
    width: 75px;
    height: 75px;
    border: 1px solid #EFEFEF;
}

.post-list-50-50{
    background-image: url(../images/post-50-50.gif);
    width: 50px;
    height: 50px;
}

.selectable{
    cursor: pointer;
}


#twitter_update_list{
    margin: 0px;
}

#twitter_update_list li{
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px dotted #666;
}

.tag{
    float: left;
    margin: 2px 5px;
    line-height: 18px;
    vertical-align: text-bottom;
    list-style: none;
}

.tag.scale_1{
    font-size: 10px;
}

.tag.scale_2{
    font-size: 12px;
}

.tag.scale_3{
    font-size: 14px;
}

.tag.scale_4{
    font-size: 16px;
}

.tag.scale_5{
    font-size: 18px;
}

.personal-menu{
    position: absolute;
    right: 0px;
    top: 0px;
    color: #379AD5;
    z-index: 7000;
    margin-right: 15px;
    height: 37px;
}

.personal-menu .personal-menu-right{
    background-image: url(../images/topmenu_right.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 2px;
    height: 37px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    border: 0px solid #FFF;
}

.personal-menu .personal-menu-left{
    position: absolute;
    left: -7px;
    width: 15px;
    height: 37px;
    background-image: url(../images/topmenu_border_left.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    float: none;
    border: 0px solid #FFF;
}

.personal-menu>div{
   border-left:1px solid #CCCCCC;
    border-right:1px solid #FFFFFF;
    float:right;
    height:36px;
    position:relative;
    vertical-align:middle;
}

.personal-menu .last{
    border-right:0px solid #FFFFFF;
}

.personal-menu .first{
    border-left:0px solid #FFFFFF;
}

.cluster{
	display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.cluster-16,
.cluster-8,
.cluster-4,
.cluster-2,
.cluster-1{
    background-image: url(../images/cluster-16.png);
    width: 16px;
    height: 16px;
    left: -5px;
    top: -5px;
}

.cluster-4 span,
.cluster-2 span,
.cluster-1 span,
.cluster-8 span,
.cluster-16 span{
    line-height: 16px;    
}

.cluster-32{
    background-image: url(../images/cluster-32.png);
    width: 32px;
    height: 32px;
    left: -16px;
    top: -16px;
}

.cluster-32 span,
.cluster-64 span{
    line-height: 32px;    
}

.cluster-64{
    background-image: url(../images/cluster-32.png);
    width: 32px;
    height: 32px;
    left: -16px;
    top: -16px;
}

.personal-menu>div.light{
   background-color: #41566D; 
}

.personal-menu div a{
    font-size: 12px;
    vertical-align: middle;
    margin: 0px 10px;
    display: block;
    color: #379AD5;
    text-decoration: none;
    text-shadow: 1px 0px 1px #FFF;
    line-height: 37px;
}
.personal-menu div .corner-bottom-left{
    background-image: url(../images/7pxborder_bottom_left.png);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 7px;
    height: 7px;
}

.personal-menu div .corner-bottom-right{
    background-image: url(../images/7pxborder_bottom_right.png);
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 7px;
    height: 7px;
}

.ui-dialog{
    border: 12px solid #1C384F;
    z-index: 99999;
}

#location_results{
    position: absolute;
    right: 0px;
    width: 300px;
    border: 1px solid #AAA;
    border-bottom: 0px solid #aaa;
    background-color: #EFEFEF;
    margin: 0px;
    display: none;
    z-index: 99;
    text-align: right;
}

#map_canvas #location_results{
    right: 10px;
}

#location_results li{
    list-style: none;
    margin: 0px;
    border-bottom: 1px solid #DDD;
    padding: 8px 5px;
    width: 290px;
    cursor: pointer;
    font-size: 14px;
    background-image: url(../images/borderBoxShadow.gif);
    overflow: hidden;
    background-position: bottom right;
    background-repeat: repeat-x;
    background-color: #FFF;
}

#location_results li:hover{
    background-color: #EFEFEF;
    background-image: none;
}

#location_results li.selected{
    color: #379AD5;
    font-weight: bold;
}

.scrollList li{
    list-style: none;
    float: left;
    margin: 5px;
}

.scrollList{
    margin: 0px !important;
    padding: 0px;
}

.selectedScrollItem{
    border: 2px solid #379AD5;
}

.topmenu .dropdownright,
.topmenu .dropdown{
    display: none;
    position: absolute;
    padding: 10px;
    z-index: 999;
}

.topmenu .contentarea{
    background-color: #FFF;
    padding: 5px 10px;
    color: #AAA;
    margin: 0px;
}

.topmenu .dropdown form label{
    font-weight: normal;
    display: block;
}

.topmenu .dropdown form p{
    margin-bottom: 8px;
    font-weight: normal;
    color: #999;
}

.topmenu .dropdownright a,
.topmenu .dropdown a{
    color: #888;
    font-size: 12px;
    color: #2277BB;
    padding: 2px 0px;
    margin: 0px;
    line-height: 15px;
}

.topmenu:hover .dropdownright,
.topmenu:hover .dropdown{
    display: block;
    position: absolute;
    top: 38px;
    right: -1px;
    width: 300px;
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
    font-weight: normal;
}

.dropdownright{
    left: 0px;
}

.topmenu .loginbutton{
    margin: 10px 0;  
}


.topmenu:hover{
    height: 42px;
    background-color: #EFEFEF;
}


.your-story-list li{
    margin: 10px;
    list-style: none;
}


.borderBox{
    background-image:url(../images/borderBoxShadow.gif);
    background-position:center bottom;
    background-repeat:repeat-x;
    border-color:#D7D7D7 #C2C2C2 #C2C2C2 #D7D7D7;
    border-style:solid;
    border-width:1px;
    overflow:visible;
    position: relative;
    background-color: #FFF;
}

.bottomLeftCorner {
    background-image:url(../images/corner_bottom_left_border.gif);
    margin:0 0 -1px -1px;
}

.bottomLeftCorner {
    background-image:url(../images/white_bottom_left_corner_small.gif);
    bottom:0;
    left:0;
}

.topRightCorner, .bottomRightCorner, .topLeftCorner, .bottomLeftCorner {
    height:5px;
    overflow:hidden;
    position:absolute;
    width:5px;
}

.topLeftCorner {
    background-image:url(../images/white_top_left_corner_small.gif);
    left:0;
    top:0;
}

.bottomRightCorner {
    background-image:url(../images/corner_bottom_right_border.gif);
    margin:0 -1px -1px 0;
}

.topRightCorner {
    background-image:url(../images/corner_top_right_border.gif);
    margin:-1px -1px 0 0;
}

.startBoxContent {
    cursor:pointer;
    font-size:0;
    line-height:0;
    padding:9px;
    height: 160px;
}

.startBoxContent.big{
    height: 280px;
    width: 480px;
}

.startBoxContent .edit-panel{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #FFF;
    width: auto;
    height: 20px;
    padding-right: 5px;
    text-align: right;
}

.edit-panel{
    line-height:20px;
    padding-left:8px;
    font-size: 12px;
}

.edit-panel a{
    margin: 5px;
}

.inset .topRightCorner {
    background-image:url(../images/white_bottom_left_corner_small.gif);
    margin:0 -5px 0 0;
}

.menuBox span,
.menuBox a {
	line-height: 15px;
	font-weight: normal;
	height: 15px;
	margin: 3px 2px 0 2px;
	padding: 0 2px 0 15px;
	background-position: 4px 3px;
	background-repeat: no-repeat;
}

.menuBox a, .menuBox span, .arrow {
	background-image: url(../images/arrow_crop.gif);
}



.menuBox {
	position: absolute;
	margin: 5px 0 6px 11px;
	background-color: transparent;
	overflow: visible;  /* this is needed for corners ! */
	padding: 0;
	min-width: 136px;
	top: 24px;
}
.menuBox ul {
	margin: 0; 
	padding: 1px 0 1px 0;
	background-color: #eeeeee;
}

.menuBox li {
	line-height: 15px;
	margin-bottom: 3px;
}

.attachment{
    width: 200px;
    height: 200px;
    display: none;
}

.attachment-selected{
    display: block;
    padding:0 0;
}

.story-edit #ajax-message{
    position: absolute;
    width: 300px;
    left: 300px;
    background-color: #FFF;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    top: 3px;
    height: 18px;
    padding-top: 1px;
    text-align: center;
    display: none;
}

.story-edit{
    position: relative;
    padding-top: 24px;
}

.stop-editing{
    background-color: #FF0000;
    color: #FFF;
    font-weight: normal;
    text-decoration: none;
    padding: 2px 3px;
}


.story-box{
    width: 320px;
    margin: 20px;
    float: left;
    border: 1px solid #DDD;
    background-color: #FFF;
}

.story-box.big{
   width: 462px;
   margin: 0 auto;
   height: 300px;
   position: relative;
   float: none;
}

.your-story-list{
    margin-left: 70px;
}

.story-box .startBoxContent{
    position: relative;
}


.story-preview-edit .ctrlHolder label{
    display:block;
    text-align:left;
    width:100px;
}

.story-preview-edit .ctrlHolder p{
    margin-left: 120px;
}

.map-bubble{
    background-color:#FFFFFF;
    border:1px solid #FFF;
    display:inline;
    min-width:130px;
    padding:5px 10px;
    position:absolute;
    width:auto;
    max-width: 200px;
    overflow: hidden;
}

.map-bubble h5{
    margin: 0px 0 0px;
}

.map-bubble p{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 15px;
}

.maptales-marker-wrapper .map-bubble{
    left:15px;
    bottom:37px;
    display: none;
}

#line_bubble{
    margin: 5px 0 0 10px;
}

.image-black-bg{
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0px;
    z-index: 0;
}

.scroll-backward{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45px;
    border-right: 1px solid #DDD;
    height: 79px;
    background-color: #F9f9f9;
    cursor: pointer;
}

.scroll-backward:hover,
.scroll-foreward:hover{
    
}

.scroll-foreward{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    border-left: 1px solid #DDD;
    height: 79px;
    background-color: #F9f9f9;
    cursor: pointer;
}

#storyline_scroller .control-bar{
    background:none repeat scroll 0 0 #000000;
    height:0px;
    margin:0 46px;
    min-width:200px;
    overflow: hidden;
    opacity:0.4;
    position:absolute;
    text-align:center;
    width:578px;
    z-index:999;
}

.activity-stream .comment{
    padding: 15px;
    background-color: #EFEFEF;
    display: block;
    margin: 3px;
    font-size: 16px;
    line-height: 20px;
}

.post-comment .connect-button{
    display: inline;
    vertical-align: text-top;
}

.post-comment .comment-login{
    line-height: 30px;
    margin-left: 5px;
}

.bulk p{
    margin-bottom: 3px;
}

.bulk #basic-form{
    float: right;
    margin-bottom: 0px;
}

.responses{
    margin: 10px 0px !important;
}

.responses li{
    border-bottom: 1px solid #EFEFEF;
    padding: 10px 5px;
}

.scroll-foreward .arrow,
.scroll-backward .arrow{
    height: 26px;
    width: 17px;
    background-position: top;
    background-repeat: no-repeat;
    position:absolute;
    top:50%;
    margin-top: -13px;
    margin: -13px 13px auto 13px;
    background-image: url(../images/prev.gif);
}

.scroll-foreward:hover .arrow,
.scroll-backward:hover .arrow{
    background-position: 0px -26px;
}


.scroll-foreward .arrow{
    background-image: url(../images/next.gif);
}


#storylineitem .length-100{
    line-height:35px;
    font-size:28px;
    top:120px;
}

#storylineitem .length-200{
    line-height:30px;
    font-size:25px;
    top:100px;
}

#storylineitem .length-300{
    line-height:30px;
    font-size:22px;
    top:85px;
}

#storylineitem .length-400{
    line-height:30px;
    font-size:20px;
    top:50px;
}

#storylineitem h1{
    font-size:20px;
    font-weight:normal;
    left:25px;
    line-height:30px;
    position:absolute;
    text-align:center;
    top:55px;
    width:540px;
    color: #666;
}

#time-until-next-jump{
    font-size: 20px;
    text-align: center;
    margin: 10px 0 0;
}

#time-indicator h3{
    text-align: center;
}

.ui-state-highlight{
    border: 1px solid #379AD5;
    background-color: #DDEEFF;
    color: #379AD5;
}

#map_canvas #loading{
    background-color: #FFF;
    position: absolute;
    top: 50px;
    left: 47%;
    width: 70px;
    height: 23px;
    padding: 3px 0px 3px 34px;
    margin: 0px auto;
    background-position: 3px;
}


.fullscreen-story,
.fullscreen-story .story-view{
    overflow: hidden;
}

.photos-in-area li{
    list-style: none;
    float: left;
    margin: 10px;
    cursor: pointer;
}


.silver-shadow {
	-moz-border-radius:4px 4px 4px 4px;
	-moz-box-shadow:1px 1px 6px #DDDDDD;
	background-image:url("../grey-gradient-buttons.png");
	background-position:center bottom;
	background-repeat:repeat-x;
	border:1px solid #BBBBBB;
	color:#333333 !important;
	font-size:12px;
	line-height:14px;
	padding:8px 12px;
	text-align:center;
	text-decoration:none !important;
	text-shadow:1px 1px 0 #FFFFFF;
	vertical-align:middle;
}

.embedded-story{
	width: 560px;
	height: 340px;
}


.inline-connect .connect-button{
	text-align: left;
}