v\:* {
	behavior:url(#default#VML);
}
body {
	padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
	color: #a0a0a0;
}

h1, h2, h3 {
    font-weight: normal;
    clear: both;
}

h1, h2 {
    font-size: 20px;
    line-height: 24px;
    margin: -4px 0 15px 0;
	color: #000000;
}

h2 {
	color: #A6AE00;
}

h3 {
    font-size: 14px;
    line-height: 20px;
    margin: -2px 0px 10px 0px;
	color: #A6AE00;
}


form {
	padding: 0px;
}


p {
    /*letter-spacing: 0.1px;*/
    line-height: 18px;
	color: #000000;
    margin: 0 0 8px 0;
}



.arrowLink,
a {
	font-weight: bold;
	text-decoration:none;
	color: #379AD5;
}

.arrowLink:hover,
a:hover {
	background-color: #379AD5;
	color: #FFFFFF;
}

a.plain:hover {
	background-color: transparent;
}



.subH1,
.subH2,
.subH3 {
	margin-top: -14px;
	margin-bottom: 11px;
    font-size: 12px;
}

.subH3 {
	margin-top: -10px;
	margin-bottom: 12px;
}

.aboveH1,
.aboveH2 {
	margin-bottom: 6px;
	margin-top: -3px;
}

.aboveH3 {
	margin-bottom: 2px;
	margin-top: -3px;
}


ul.errorlist {
    margin: 0;
    padding: 0;
    list-style: none;
    color: red;
}


ul {
	padding: 0px;
	list-style: none;
	list-style-position: outside;
    margin: 0 0 16px 0;
}

ul.bullet {
	list-style: square inside;
}


.code {
	border: 1px solid #EFEFEF;
	padding: 10px;
	margin: 5px 0;
	color: #555;
}



.link, .triggerBold, .trigger, .menu, .help, .tag, .arrow {
	color:#379AD5;
	cursor: pointer;
}

.blueText{
	color:#379AD5;
	font-weight: bold;
}

.link, .arrow {
	font-weight: bold;
}



.menu {
	padding:0 2px 0 2px;
	margin:0 3px 0 3px;
	vertical-align: top;
}

.link:focus,
.link:hover,
.arrow:focus,
.arrow:hover,
.menu:focus,
.menu:hover,
.trigger:focus,
.triggerBold:focus,
.triggerBold-hover,
.triggerBold:hover,
.trigger-hover,
.trigger:hover {
	color:#FFFFFF;
	background-color: #379AD5;
}

.triggerBold, .trigger, .tag, .help, .arrow {
	font-weight: normal;
	padding: 1px;
}

.triggerBold-hover, .trigger-hover{
	padding: 2px 4px;
}


.triggerBold{
	font-weight: bold !important;
}

.triggerBold:hover{
	font-weight: bold !important;
}

.aquaBar .trigger {
	color: #A0A0A0;
}


.aquaBar {
	position:relative;
	width: 100%;
	clear: both;
	background-image: url(../images/aqua.gif);
	background-repeat: repeat-x;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-top-color: #DCDCDC;
	border-bottom-color: #CCC;
	height: 23px;
	line-height: 21px;
	z-index: 100;
}

.aquaBar .trigger:focus,
.aquaBar .trigger:hover,
.aquaBar .trigger.hover {
	color: #379AD5;
	background-color: transparent;
}



.meta {
	color: #a0a0a0;
}


.reference {
	font-weight: bolder;
	-moz-user-select: none;
}

.unselectable {
	-moz-user-select: none;
}


.barShadow{
	position: absolute;
	width: 100%;
	height: 2px;
	background: transparent url(../images/shadow.png) repeat-x;
	z-index:3;
	overflow: hidden;
}

.barShadowBottom{
	position: absolute;
	width: 100%;
	height: 2px;
	background: transparent url(../images/shadow.png) repeat-x;
	z-index:3;
	overflow: hidden;
    margin-top: -2px;
}





#mainTeaser {
	position: absolute;
	top: 130px;
	left: 0px;
	width: 100%;
	z-index: 99;
	cursor: pointer;
}

#mainTeaser h1 {
	opacity:0.8;
	font-size: 90px;
	color: #ffffff;
	text-align: center;
	line-height: 70px;
}

#mainTeaserTags {
	opacity:0.9;
	font-size: 28px;
	color: #ffffff;
	text-align: center;
}

#mainTeaserTags span {
	padding: 0 5px 0 5px;
}

#mainTeaserTags span:hover {
	text-decoration: underline;
}






.barContent,
.content,
.contentLoading,
.header {
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding: 1px;
}

.header .login-wrapper{
    position: absolute;
    right: 0px;
    bottom: 3px;
}

.contentLoading{
	height: 30px; /*Fixes an firefox bug*/
}

.barContent .separator {
	position: absolute;
	display: block;
	right: 0;
}

.header {
	height: 75px;
    margin-bottom: 5px;
    z-index: 300;
}

.logo {
    position: absolute;
    bottom: 8px;
    left: 0px;
    height: 30px;
	cursor:pointer;
}









.nextBig,
.prevBig{
   height: 46px;
   width: 104px;
}

.nextBig{
	background-image: url(../images/button_next_big.gif);
}

.nextBig:hover{
	background-image: url(../images/button_next_big_h.gif);
}

.prevBig{
	background-image: url(../images/button_prev_big.gif);
}

.prevBig:hover{
	background-image: url(../images/button_prev_big_h.gif);
}







.barLeft {
	position: absolute;
	border-right: 1px solid #DDD; 
	width: 10px; 
	height: 23px;
	z-index: 999;
	top:1px;
}

/* TODO: unify with class "minimizer" ? */
.minimizeBar {
	cursor: pointer;
	position: absolute;
	top: 0px;
	width: 10px;
	height: 23px;
	background-image: url(../images/minimize.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;	
}

.minimizeBar:hover,
.minimizeBar.hover {
	background-image: url(../images/minimize_h.gif);
	background-color: #379AD5;
}

.mapWrapper {
    position: relative;
    width: 100%;
	height: auto; /*300px;*/
	overflow: hidden;
    min-height: 400px;
    min-width: 400px;
}

#map{
     min-height: 400px;
    min-width: 400px;
}


/* MAP */


.toolBarContainer {
	float: left;
}

.toolBarContainer img {
	vertical-align: middle;
}

#mapViewPanel {
	float: right;
	text-align: right;
	/* vertical-align: middle; */
}

.mapSearch {
	vertical-align: middle;
	line-height: 11px;
	margin-top: -1px;
	width:131px;
	height:13px;
}

.zoom-in,
.zooom-in,
.zoom-out,
.zooom-out,
.zoom-to-world,
.zoombox,
.toggle-map-objects-on,
.toggle-map-objects-off,
.make-view,
.menuarrow,
.zoomboxActive,
.mapBarButton
{
    float: left;
    cursor: pointer;
    height: 23px; 
    width: 20px;
}

.zooom-in{
    width: 30px;
    background-image: url(../images/zooomIn.gif);
}

.zooom-in:hover,
.zooom-in.hover {
    background-image: url(../images/zooomIn_h.gif);
}

.zooom-out{
    width: 30px;
    background-image: url(../images/zooomOut.gif);
}

.zooom-out:hover,
.zooom-out.hover {
    background-image: url(../images/zooomOut_h.gif);
}

.zoom-to-world{
    width: 30px;
    background-image: url(../images/zoomToWorld.gif);
}

.zoom-to-world:hover,
.zoom-to-world.hover {
    background-image: url(../images/zoomToWorld_h.gif);
}

.zoom-in{
    background-image: url(../images/zoomIn.gif);
}

.zoom-in:hover,
.zoom-in.hover {
    background-image: url(../images/zoomIn_h.gif);
}

.zoom-out{
    background-image: url(../images/zoomOut.gif);
}

.zoom-out:hover,
.zoom-out.hover {
    background-image: url(../images/zoomOut_h.gif);
}

.zoombox {
    width: 25px;
    background-image: url(../images/zoombox.gif);
}

.zoombox:hover,
.zoombox.hover {
    background-image: url(../images/zoombox_h.gif);
}

.zoomboxActive {
	width: 25px;
    background-image: url(../images/zoombox_h.gif);
	background-color: #EFEFEF;
}

.make-view {
    width: 30px;
    background-image: url(../images/snapshot.gif);
}

.make-view:hover,
.make-view.hover {
    background-image: url(../images/snapshot_h.gif);
}

.toggle-map-objects-on {
    width: 30px;
    background-image: url(../images/mapitemsOn.gif);
}

.toggle-map-objects-on:hover,
.toggle-map-objects-on.hover {
    background-image: url(../images/mapitemsOn_h.gif);
}

.toggle-map-objects-off {
    width: 30px;
    background-image: url(../images/mapitemsOff.gif);
}

.toggle-map-objects-off:hover,
.toggle-map-objects-off.hover {
    background-image: url(../images/mapitemsOff_h.gif);
}

.menuarrow {
    width: 9px;
	margin-left:0px;
	margin-right: 2px;
	background-image: url(../images/snapshotsDropDown.gif);
}

.menuarrow:hover,
.menuarrow.hover {
    background-image: url(../images/snapshotsDropDown_h.gif);
}



.gmap {
	position: relative;
	height: 245px;
	background-color: #eeeeee;
}


.barRight{
	float: right;
	width: 12px;
	height: 23px;
}

.barRight img {
	display: block;
}
.barRight .top {
	background-color: white;
	margin-left: 1px;
	margin-bottom: 1px;
}

.mapstatus{
	display: block;
	position:absolute;
	z-index:1;
	top: 25px;
	right: 0px;
	width: 240px;
	padding: 0px;
}

.mapShadow{
	left: 1px;
	position: absolute;
	z-index:99;
}



.mapstatusTab{
	z-index:9;
	left: 4px;
	width: 200px;
	overflow: visible;
	position: relative;
	top: 0px;
	height: 13px;
	background-color: #FFF;
	border-bottom: 1px solid #C9C9C9;
	/* cursor: pointer; */
}

.mapstatusContent{
	position:relative;
	padding: 5px 10px 6px 10px;
	border-left: 1px solid #C9C9C9;
	 border-bottom: 1px solid #C9C9C9;
	 color:#379AD5;
	 background-color: #FFF;
}

.mapstatusLeft{
	position: absolute;
	background-image: url(../images/mapitems/mapContextTab.gif);
	width: 5px;
	height: 14px;
	top: 0px;
	left: -4px;
}

.mapstatusRight {
	position: absolute;
	background-image: url(../images/mapitems/mapContextTabRight.gif);
	width: 14px;
	height: 14px;
	top: 0px;
	right: -13px;
}

.mapstatusContent h3 {
	color: #000000;
}


/* PATH */


.decreaseHeight,
.increaseHeight {
	cursor: pointer;
	width: 12px;
	height: 11px;
	background-repeat: no-repeat;
	background-position: -2px 0px;
	overflow: hidden;
}


.path {
	font-size: 12px;
	vertical-align: middle;
	line-height: 21px;
	z-index: 1;
}

.subnavi {
	text-align: right;
	font-size: 12px;
}

.subnavi,
.path,
.subnavi img,
.path img,
.subnavi span,
.path span,
.subnavi a,
.path a{
	-moz-user-select: none;
}

.path img, .subnavi img {
	vertical-align: middle;
}

.path a, .subnavi a {
	padding:0 2px 0 2px;
	color:#379AD5;
	font-weight: bold;
}

.path a:focus,
.path a:hover,
.subnavi a:focus,
.subnavi a:hover {
	color:#FFFFFF;
	background-color: #379AD5;
}


/* box */

.box {
	width: 240px;
	background-image:url(../images/boxBackground2.gif);
	background-position:right top;
	background-repeat:repeat-y;
	background-color:#EEEEEE;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
}

.boxHeader {
	font-size:14px;
	line-height:24px;
	height:25px;
	background-image:url(../images/boxHeader2.gif);
	background-position:right top;
	background-repeat:no-repeat;
}

.boxHeaderTitle{
	float: left;
	margin-left: 7px;
	color: #379AD5;
	width: 90%;
	cursor: pointer;
}

.boxHeaderTitle:hover{
	font-weight: bold;
}

.boxHeader img {
	margin-right:10px;
	float:left;
}

.boxContent {
	position: relative;
	background-image:url(../images/boxContentBackground2.gif);
	background-position:left top;
	background-repeat:repeat-y;
	border-bottom: 1px solid #C9C9C9;
	padding:0px;
}

.cornerBottomLeft {
	position: absolute;
	font-size:0px;
	line-height:0px;
	bottom:-1px;
	left:0px;
	width:5px;
	height:5px;
	background-image:url(../images/cornerBottomLeft.gif);
	background-repeat:no-repeat;
	background-position:left top;
}

.cornerBottomRight {
	position: absolute;
	font-size:0px;
	line-height:0px;
	bottom:-1px;
	right:0px;
	width:10px;
	height:10px;
	background-image:url(../images/cornerBottomRight.gif);
	background-repeat:no-repeat;
	background-position:left top;
}
.cornerTopLeft {
	position: absolute;
	font-size:0px;
	line-height:0px;
	top:-1px;
	left:0px;
	width:5px;
	height:5px;
	background-repeat:no-repeat;
	background-position:left top;
}
.cornerTopRight {
	position: absolute;
	font-size:0px;
	line-height:0px;
	top:-1px;
	right:0px;
	width:5px;
	height:5px;
	background-image:url(../images/cornerTopRight.gif);
	background-repeat:no-repeat;
	background-position:left top;
}


.stories {
	width:132px;
}

.storiesColumn {
	width:133px;
}

.tabList{
	margin: 0px;
	padding: 0px;
	background-image: none;
}

.gloss {
	border-top:1px #F7F7F7 solid;
	border-left:1px #F7F7F7 solid;
	margin-left:1px;
	padding:0px;
}



.Map48{
	background-image: url(../images/map-48.gif);
}

.Group48{
	background-image: url(../images/group-48.gif);
}


.story {
	width:80px;
	height:114px;
	background-image:url(../images/story.gif);
	background-repeat:no-repeat;
	background-position:left top;
	margin-bottom:5px;
}

.story img {
	margin:1px 0 0 4px;
}

.storyTitle {
	color:#000000;
	font-weight:bold;
	text-align:right;
	margin:5px 9px 0 0;
}






.icon {
	float:left;
	position:relative;
	width:62px;
	height:89px;
	margin: 0 5px 0 0;
	background-color: #FFF;
	border: 1px solid #C9C9C9;
	cursor: pointer;
}
.icon:hover {
	border: 1px solid #AAA;
}

.icon .image {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
}

.icon .indicator {
	position: absolute;
	display: none;
}

.icon .decorator {
	position: absolute;
	top: -2px;
	right: -2px;
	background-image: url(../images/image_corner_white.gif);
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
}

.icon .sub {
	position: absolute;
	display: none;
}

.icon .label {
	position:absolute;
	font-size: 10px;
	left: 8px;
	bottom: 2px;
	padding: 0;
	white-space: normal;
	color:#000000;
	font-weight:bold;
	-moz-user-select: none;
	width: 56px;
	height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.iconStory {
	width: 64px;
	height: 91px;
	border: none;
}
.iconStory:hover {
	border: none;
}
.iconStory .image {
	width: 64px;
	height: 91px;
	background-image: url(../images/storyIconLayer1.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.iconStory .decorator {
	top: 0;
	left: 0;
	width: 64px;
	height: 91px;
	background-image: url(../images/storyIconLayer2_bgWhite.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.iconStory .label {
	left: 4px;
	bottom: 8px;
	text-align: right;
}

.iconImage .image {
	background-image: url(../images/image-60.gif);
}

.iconPost .image {
	background-image: url(../images/post-60.gif);
}

.iconAudio .image {
	background-image: url(../images/audio-60.gif);
}


/* *** END NEW icons work in progress *** */

/* *** TODO --start replace old lists and icon styles *** */

/* Lists and Icons */
.Story-Icon-75,
.Map-Icon-75,
.Snapshot-Icon-75,
.Picture-Icon-75,
.Post-Icon-75,
.Audio-Icon-75,
.User-Icon-75,
.FeedItem-Icon-75,
.Snapshot-Icon-75,
.Route-Icon-75,
.Marker-Icon-75,
.Video-Icon-75  {
	cursor: pointer;
	float:left;
	margin: 0px;
	position:relative;
	width:75px;
	height:106px;
	border: 1px solid #C9C9C9;
	margin-right: 5px;
}

.Snapshot-Icon-75,
.Map-Icon-75,
.Picture-Icon-75,
.Post-Icon-75,
.Audio-Icon-75,
.User-Icon-75,
.FeedItem-Icon-75,
.Snapshot-Icon-75,
.Route-Icon-75,
.Marker-Icon-75,
.Video-Icon-75 {
	background-color: #FFF;
	background-image: none !important; /*keep this here*/
}

.iconTitle {
	position:absolute;
	font-size: 10px;
	left: 8px;
	bottom: 6px;
	color:#000000;
	font-weight:bold;
	-moz-user-select: none;
	width: 67px;
	overflow: hidden;
}

.Story-Icon-75 .iconTitle {
	bottom: 14px;
	right: 15px;
	text-align: right;
	left: auto;
}

.Story-Icon-75{
	background-image: url(../images/story.gif);
	background-repeat:no-repeat;
	background-position:left top;
	width: 80px !important;
	height: 114px  !important;
	border: 0px solid #FFF;
    padding-top: 0px !important;
    padding-left: 4px !important;
}

.Story-Icon-75:hover {
	border: 0px solid #FFF !important;
}

.Story-Icon-75 .iconCorner{
	display: none;
}

.Story-Icon-75 .bgIcon{
	top: 1px;
	left: 4px;
	width: 75px;
	height: 75px;
}


.Map-Icon-75 .iconCorner{
	display: none;
}

.Map-Icon-75 .bgIcon{
	background-image: url(../images/map-75_default.gif);
	width: 75px;
	height: 75px;
}

.User-Icon-75{
	background-image: url(../images/userIcon.gif);
	width: 75px !important;
	height: 106px  !important;
}

.Picture-Icon-75 .bgIcon{
	background-image: url(../images/image-75.gif);
	width: 75px;
	height: 75px;
}

.Audio-Icon-75 .bgIcon{
	background-image: url(../images/audio-75.gif);
	width: 75px;
	height: 75px;
}

.Snapshot-Icon-75 .bgIcon{
	background-image: url(../images/view-75.gif);
	width: 75px;
	height: 75px;
}

.Post-Icon-75 .bgIcon{
	background-image: url(../images/post-75.gif);
	width: 75px;
	height: 75px;
}

.FeedItem-Icon-75 .bgIcon{
	background-image: url(../images/rss-75.gif);
	width: 75px;
	height: 75px;
}

.Marker-Icon-75 .bgIcon{
	background-image: url(../images/imagemarker-75.gif);
	width: 75px;
	height: 75px;
}

.Route-Icon-75 .bgIcon{
	background-image: url(../images/trail-75.gif);
	width: 75px;
	height: 75px;
}

.Story-Icon-75:hover,
.Snapshot-Icon-75:hover,
.Picture-Icon-75:hover,
.User-Icon-75:hover,
.Post-Icon-75:hover,
.Audio-Icon-75:hover,
.FeedItem-Icon-75:hover,
.Route-Icon-75:hover,
.Marker-Icon-75:hover,
.Marker-Icon-75:hover,
.Video-Icon-75:hover {
	border: 1px solid #AAA;
}

.Snapshot-Icon-75 .iconImage,
.Picture-Icon-75 .iconImage,
.Post-Icon-75 .iconImage,
.Audio-Icon-75 .iconImage,
.User-Icon-75 .iconImage,
.FeedItem-Icon-75 .iconImage,
.Snapshot-Icon-75 .iconImage,
.Route-Icon-75 .iconImage,
.Marker-Icon-75 .iconImage,
.Video-Icon-75 .iconImage {
	width: 75px;
	height: 75px;
	background-position: center center;
	background-repeat: no-repeat;
}

.iconImage60 {
	width: 60px;
	height: 60px;
	background-position: center center;
	background-repeat: no-repeat;
}

/*============================================*/

.Story-Icon-60,
.Picture-Icon-60,
.Post-Icon-60,
.Audio-Icon-60,
.FeedItem-Icon-60,
.Route-Icon-60,
.Marker-Icon-60,
.Video-Icon-60 {
	float:left;
	margin:0 10px 10px 0;
	position:relative;
	width:77px;
	height:106px;
	background-color: #FFF;
	border: 1px solid #C9C9C9;
}

.Story-Icon-60:hover,
.Picture-Icon-60:hover,
.Post-Icon-60:hover,
.Audio-Icon-60:hover,
.FeedItem-Icon-60:hover,
.Route-Icon-60:hover,
.Marker-Icon-60:hover,
.Video-Icon-60:hover {
	border: 1px solid #AAA;
}

.Story-Icon-60{
	background-image: url(../images/story.gif);
	background-repeat:no-repeat;
	background-position:left top;
	width: 80px !important;
	height: 114px  !important;
	border: 0px solid #FFF;
}

.Story-Icon-60:hover{
	border: 0px solid #FFF !important;
}

.Picture-Icon-60 .bgIcon{
	background-image: url(../images/image-60.gif);
	width: 60px;
	height: 60px;
}

.Video-Icon-60 .bgIcon{
	background-image: url(../images/image-60.gif);
	width: 60px;
	height: 60px;
}

.Post-Icon-60 .bgIcon{
	background-image: url(../images/post-60.gif);
	width: 60px;
	height: 60px;
}

.Audio-Icon-60 .bgIcon{
	background-image: url(../images/audio-60.gif);
	width: 60px;
	height: 60px;
}

.FeedItem-Icon-60 .bgIcon{
	background-image: url(../images/rss-60.gif);
	width: 60px;
	height: 60px;
}


.Route-Icon-60 .bgIcon{
	background-image: url(../images/trail-60.gif);
	width: 60px;
	height: 60px;
}

.bgIcon{
	display: block;
	padding: 0px !important; 
}

.markerListIcon,
.lineListIcon {
	cursor: pointer;
    float: left;
    background-repeat: no-repeat;
	margin: 0px;
	z-index: 9999;
}

.markerListIcon{
    background-image: url(../images/textmarker_grey.gif);
    width: 20px;
    height: 20px;
}

.markerListIcon:hover,
.markerListIcon.hover {
	background-image: url(../images/textmarker_grey_h.gif);
}


.lineListIcon{
    background-image: url(../images/list_line.gif);
    margin-left: 7px;
    width: 7px;
    height: 17px;
}

.lineListIcon:hover,
.lineListIcon.hover {
	background-image: url(../images/list_line_over.gif);
}


.imageListIcon{
    float: left;
    background-image: url(../images/image_path.gif);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.storyMapObjsList .postListIcon,
.storyMapObjsList .audioListIcon,
.storyMapObjsList .imageListIcon{
	margin: -1px 0 0 4px;
	float: left;
	position: relative;
	z-index: 9999;
}

.postListIcon{
    float: left;
    background-image: url(../images/post_path.gif);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.audioListIcon{
    float: left;
    background-image: url(../images/audio_path.gif);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}



.iconCorner,
.iconCornerWhite {
	width:10px;
	height:10px;
	z-index:99999;
	position:absolute;
	right:-2px;
	top:-2px;
	background-image:url(../images/image_corner.gif);
	background-position:left top;
	background-repeat:no-repeat;
}

/* Scroll Slot */

.scrollableSlotWrapper{
	height: 125px;
}

.scrollList {
	position: relative;
	width: 2400px;
	height: 85px;
	padding: 0px;
	top: 13px; /* dont move this back to the margin below, since it does not work in IE*/
	margin: 0 0 0 25px !important; /* ul margin is set above, so always override */
}

.scrollList .draggable-active{
	border: 2px solid #379AD5 !important;
}

.draggable{
    z-index: 99999;
}

.scrollList li{
	cursor: pointer;
	position: relative;
	float: left;
	padding: 0px;
	margin-right: 4px;
	width: 60px;
	height: 85px;
	background-color: #FFFFFF;
	border: 1px solid #A0A0A0;

}

.scrollPreviewSlot{
	margin-top: 5px;
	width: 310px;
	height: 125px;
	left: 0px;
	position: relative;
	overflow: hidden;
}

.scrollBackward {
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 3px;
	width: 21px;
	height: 107px;
	background-image: url(../images/scrollBackward.gif);
	z-index: 99;
}

.scrollBackward:hover{
	background-image: url(../images/scrollBackward_h.gif);
}

.scrollForward{
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 3px;
	width: 21px;
	height: 107px;
	background-image: url(../images/scrollForward.gif);
	z-index: 99;
}

.scrollForward:hover{
	background-image: url(../images/scrollForward_h.gif);
}

.scrollIndex{
	position: absolute;
	bottom: 3px;
	left: 100px;
	color: #777;
	-moz-user-select: none;
}

.selectedScrollItem{
	border: 2px solid #379AD5 !important;
	margin-top:-1px;
}

.selectedScrollItem .listTitle{
	color: #379AD5;
	font-weight: bold;
}

.listTitle{
	overflow: hidden;
}

.tagList .deleteInline{
	/* background-position: 0px 2px; */ /* sylvester: is this needed by IE? */
}

.tagList,
.column2 .tagList {
	background-color: transparent;
	border: 0px solid #ddd;
	margin: 0 0 4px 0;
	padding: 0px;
	list-style-position: inside;
}

.tagList li {
	list-style-image: url(../images/tag_inline.gif);
}

.blogScreen h3 {
	color: #000000;
}

.infoBox, .borderBox, .exportBox {
	position: relative;
	width: 100%;
	margin-bottom: 16px;
}

.borderBox, .exportBox {
	background-color:#ffffff;
	border-top: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	overflow: visible;  /* this is needed for corners ! */
	background-image: url(../images/borderBoxShadow.gif);
	background-position: bottom;
	background-repeat: repeat-x;
}

.infoBox {
	background-color:#eeeeee;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
}


.exportBox {
	margin: 9px 0 0 0;
	padding: 9px 0 7px 0px;
}

.exportBoxContainer {
	padding: 0 0 0 8px;
}

.infoBox h1,
.infoBox h2 {
	padding: 0px;
	margin: 0px;
}

.infoBox h2 {
	color: #A6AE00;
}

.borderBox h3 {
	color: #A6AE00;
	margin-bottom: 5px;
}

.borderBox h2 {
	color: #379AD5;
}

.borderBox h2.small {
	display: inline;
	font-size: 14px;
	line-height: 16px;
	clear: none;
}

.infoBox.userMessage {
	background-image: url(../images/inlineMessageGradient.gif);
	background-repeat: repeat-x;
	background-position: 0% 100%;
}

.infoBox.publishManager {
	font-size: 11px;
	line-height: 14px;
}

.infoBoxContent {
	padding: 9px;
}

.infoBoxContentBigPadding {
	padding: 18px;
}

.borderBox .infoBoxContent {
	padding-top: 12px;
	padding-left: 10px;
}

.exportBox ul {
	list-style-type: none;
	margin: 0 9px 0 9px;
	padding: 0;
}

.exportBox ul li {
	margin: 3px 0 3px 0;
}

.exportBox a {
	font-weight: normal;
	text-decoration: none;
	background-color: transparent;
}
.exportBox a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #379AD5;
	background-color: transparent;
}

.exportBox a img {
	vertical-align: middle;
	margin-right: 6px;
}

.infoBox .closeButton {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 11px;
	height: 11px;
	background-image: url(../images/closeInlineMessage.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: hidden;
}

.infoBox .closeButton:hover,
.infoBox .closeButton.hover {
	background-image: url(../images/closeInlineMessage_h.gif);
}

.startBoxContent {
	padding: 9px;
	cursor: pointer;
	line-height: 0px;
	font-size: 0px;
}

/* CORNERS FOR BOXES */


.topRightCorner,
.bottomRightCorner,
.topLeftCorner,
.bottomLeftCorner {
	position: absolute;
	overflow: hidden;
	width: 5px;
	height: 5px;
	font-size: 0;
}

.topRightCorner {
	top:0px;
	right: 0px;
	background-image: url(../images/white_top_right_corner_small.gif);
}

.bottomRightCorner {
	bottom:0px;
	right: 0px;
	background-image: url(../images/white_bottom_right_corner_small.gif);
}

.topLeftCorner {
	top:0px;
	left: 0px;
	background-image: url(../images/white_top_left_corner_small.gif);
}

.bottomLeftCorner {
	left:0px;
	bottom: 0px;
	background-image: url(../images/white_bottom_left_corner_small.gif);
}


.borderBox .topRightCorner, .exportBox .topRightCorner {
	background-image: url(../images/corner_top_right_border.gif);
	margin: -1px -1px 0 0;
}

.borderBox .bottomRightCorner, .exportBox .bottomRightCorner {
	background-image: url(../images/corner_bottom_right_border.gif);
	margin: 0 -1px -1px 0;
}

.borderBox .topLeftCorner {
	background-image: url(../images/corner_top_left_border.gif);
	margin: -1px 0 0 -1px;
}

.borderBox .bottomLeftCorner, .exportBox .bottomLeftCorner {
	background-image: url(../images/corner_bottom_left_border.gif);
	margin: 0 0 -1px -1px;
}

.exportBox .topLeftCorner {
	background-image: url(../images/export_box_corner_top_left.gif);
	width: 20px;
	height: 22px;
	margin: -9px 0 0 -8px;
}

/* this box hack is for boxes inside borderboxes - corenrs and margin must be set correctly ! */

.boxHack .topRightCorner {
	background-image: url(../images/white_top_right_corner_small.gif) !important;
	margin: 0px !important;
}

.boxHack .bottomRightCorner {
	background-image: url(../images/white_bottom_right_corner_small.gif) !important;
	margin: 0px !important;
}

.boxHack .topLeftCorner {
	background-image: url(../images/white_top_left_corner_small.gif) !important;
	margin: 0px !important;
}

.boxHack .bottomLeftCorner {
	background-image: url(../images/white_bottom_left_corner_small.gif) !important;
	margin: 0px !important;
}

.boxHack .infoBoxContent {
	padding: 9px !important;
}


.inset .topRightCorner {
	background-image: url(../images/white_bottom_left_corner_small.gif);
	margin: 0 -5px 0 0;
}

.inset .bottomRightCorner {
	background-image: url(../images/white_top_left_corner_small.gif);
	margin: 0 -5px 0 0;
}

.inset .rightSide {
	position: absolute;
	right: -5px;
	top: 5px;
	bottom: 5px;
	width: 5px;
	background-color: #ffffff;
	margin: 0px;
}

.borderBox .largeButton {
	margin:0 0 10px 0;
	cursor: pointer;
}

.introScreen {
	position: relative;
	height: 200px;
}

.introScreen .borderBox {
	position: absolute;
	top: 0px;
	left: 0px;
	width:180px;
	height: 178px;
}
/* TABLE ROWS */

.rowedList {
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	overflow-x: hidden;
}

.rowedList li{
    height: 28px;
}

.rowedList .evenRow{
	cursor: pointer;
	background-color: #F7F7F7;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background-image:url(../images/dotsHorizontal.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
}

.rowedList .oddRow.draggable-active,
.rowedList .evenRow.draggable-active{
	background-color: #DEEAFE !important;
	border: 0px solid #FFF !important;
}

.rowedList .evenRow:hover{
	background-color: #E6E6E6;
}

.rowedList .oddRow{
	cursor: pointer;
	background-color: #EEE;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	background-image:url(../images/dotsHorizontal.gif);
	background-position:left bottom;
	background-repeat:repeat-x;
}

.rowedList td,
.rowedList img,
.rowedList span{
	vertical-align: middle;
}

tr.evenRow td,
tr.oddRow td{
	padding: 4px;
}





.rowedList .oddRow:hover{
	background-color: #E6E6E6;
}

.markerList td{
	vertical-align: middle;
}

.mediaList .draggable-active {
	border: 2px solid #379AD5 !important;
	margin-top: -1px;
	margin-left: -1px;
	background-image: url(../images/story_h.gif);
	background-color: #FFF !important;
}

.trashCan{
	width: 200px;
	margin: 4px;
}

.itemIsPlacedStatic,
.itemIsPlaced {
	cursor: pointer;
	position: absolute;
	bottom: 3px;
	right: 3px;
	background-image: url(../images/textmarker_grey.gif);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;

}

.itemIsPlaced:hover,
.itemIsPlaced.hover {
	background-image: url(../images/textmarker_grey_h.gif);
}

.itemOnLine {
	cursor: pointer;
	position: absolute;
	bottom: 3px;
	right: 3px;
	background-image: url(../images/line_grey.gif);
    background-repeat: no-repeat;
    width: 21px;
    height: 20px;

}

.itemOnLine:hover,
.itemOnLine.hover {
	background-image: url(../images/line_grey_h.gif);
}


/* Buttons */



/* special case for button layout */

.areaSelect .shortButton,
.browseSearchBox .shortButton {
	background-image:url(../images/button_small_noshadow.gif);
}

.areaSelect .shortButton:hover,
.browseSearchBox .shortButton:hover {
	background-image:url(../images/button_small_noshadow_h.gif);
}

.browseSearchBox .shortButton,
.browseResultsSearchBox .shortButton {
	margin-left: 6px;
}



.loadingBar{
	height: 20px;
	border: 1px solid #379AD5;
	width: 100%;
	margin: 5px 0;
}

.swfupload{
    cursor: pointer;
}

.progressBarComplete,
.progressBarInProgress{
	background-image: url(../images/progressBlue_20.png) !important;
	background-repeat: repeat-x;
	height: 20px;
	width: 0%;
    z-index: 2;
    vertical-align: middle;
    position: absolute;
}

.progressBarStatus,
.progressBar{
	position: relative;
	height: 20px;
	padding: 0px;
	background-image: url(../images/progressGrey_20.png);
	background-repeat: repeat-x;
	overflow: hidden;
    text-align: center;
    z-index: 1;
    vertical-align: middle;
    position: absolute;
    width: 100%;
}

.progressBarStatus {
}

.infoBar{
	margin: 10px 0;
}

.areaSelect{
	border: 1px solid #000;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
}

.areaSelect .corner{
	border: 1px solid #000;
	width: 7px;
	height: 7px;
	position: absolute;
	overflow: hidden;
}

.innerAreaBorder{
	width: 5px;
	height: 5px;
	position: absolute;
	border: 1px solid #EFEFEF;
	overflow: hidden;
}

.areaSelect .message{
	border: 0px solid #000;
	width: 200px;
	height: 20px;
	position: absolute;
	left: 0px;
	bottom:-30px;
}

.areaSelect .leftTop{
	left:-5px;
	top: -5px;
	cursor: nw-resize;
}

.areaSelect .leftBottom{
	left: -5px;
	bottom:-5px;
	cursor: ne-resize;
}

.areaSelect .rightTop{
	right:-5px;
	top: -5px;
	cursor: ne-resize;
}

.areaSelect .rightBottom{
	right: -5px;
	bottom:-5px;
	cursor: nw-resize;
}



.rollOverDetector{
	opacity: .5;
	position: absolute;
	z-index: 100;
}





.unpublished{
	color: #FF0000;
	cursor: pointer;
}

.published{
	color: #00CC00;
	cursor: pointer;
}



.pointIcon{
    float: right;
    background-image: url(../images/dragMarker_h.gif);
    background-repeat: no-repeat;
    width: 31px;
    height: 31px;
    cursor: pointer;
	border: 0px solid #fff !important;
}

.pointIcon:hover{
	border: 1px solid #EFEFEF;
}


.boxLink {
    border: 1px solid #C7D4E4;
    padding:2px;
    margin: 1px;
    text-decoration: none;
    background-color: #EFF3F7;
    color: #7B92AE;
    cursor: pointer;
    font-size: 10px;
    font-weight: normal;
}




.removeTag {
	background-image: url(../images/removeTag.gif);
	background-repeat: no-repeat;
	float:left;
	cursor: pointer;
	margin: 8px 3px 0px 0px;
	height: 9px;
	width: 9px;
}

.removeTag:hover,
.removeTag.hover {
	background-image: url(../images/removeTag_h.gif);
}

.zoomBox {
     position: absolute;
     display: none;
	 border: 1px double black;

	 top:0px;
	 left: 0px;
	 width: 400px;
	 height: 300px;
	 z-index: 1;

	 overflow: hidden;

	 cursor: pointer;
}

.zoomBoxInner {
     position: absolute;
     background-color: white;

	 top:0px;
	 left: 0px;
	 width: 100%;
	 height: 100%;
	 z-index: 1;

	 opacity: 0.1;
}


/* this is the message displayed for loading */

#hoverMessage{
    background-color: #FFFFFF;
    border: 1px solid #BBB;
    position: absolute;
    margin: auto;
    padding: 10px;
    top: 48%;
    left: 46%;
    z-index: 9998;
    text-align: center;

}



.startNavLeft {
	left: 20px;
	background-image: url(../images/startNavLeft.gif);
}

.startNavRight {
	right: 20px;
	background-image: url(../images/startNavRight.gif);
}



.pagesLink {
	padding:0 2px 0 2px;
	color: #379AD5;
	text-decoration:underline;
}

.pagesLink:focus,
.pagesLink:hover {
	color:#FFFFFF;
	background-color: #379AD5;
	text-decoration:none;
}

.pages {
	clear:both;
	border-top:1px solid #DCDCDC;
	padding-top:5px;
	text-align: center;
}

.prevPageNav {
	background-repeat: no-repeat;
	background-position: center left;
	background-image: url(../images/arrowPrev.gif);
	padding-left: 10px;
	margin-left: 5px;
	float: left;
	z-index: 1;
}

.nextPageNav {
	background-repeat: no-repeat;
	background-position: center right;
	background-image: url(../images/arrowNext.gif);
	padding-right: 10px;
	margin-right: 5px;
	float: right;
	z-index: 1;
}




.path .item, .path .inner {
	display: block;
	float: left;
}
.path .item .icon {
	vertical-align: top;
}

.path .item {
	vertical-align: middle;
}

.path .inner {
	height: 21px;
	margin: 1px 0 0 6px;
	background-color: #eaeaea;
}
.path .inner a, .path .inner span {
	display: block;
	float: left;
}

.arrowLink,
.path .inner a, .path .inner span,
.menuBox span,
.menuBox a {
	line-height: 15px;
	font-weight: normal;
	height: 15px;
	margin: 3px 2px 0 2px;
	padding: 0 2px 0 15px;
	background-position: 4px 3px;
	background-repeat: no-repeat;
}
.arrow {
	padding: 0 2px 0 12px;
	background-position: 2px 1px;
	background-repeat: no-repeat;
}
.path .inner a, .menuBox a, .menuBox span, .arrow {
	background-image: url(../images/arrow_crop.gif);
}

.arrowLink {
	font-weight: bold;
	background-image: url(../images/arrow_crop.gif);
	cursor: pointer;
}

.menuBox span,
.menuBox a {
	background-position: 4px 2px;
}
.path .inner a:hover, .arrowLink:hover, .menuBox span:hover, .menuBox a:hover, .arrow:hover {
	background-image: url(../images/arrow_crop_h.gif);
}
.path .inner span {
	background-image: url(../images/arrow_selected_crop.gif);
	background-position: 4px 4px;
}

.path .bracket {
	vertical-align: middle;
	margin: 0 6px 0 6px;
}
.path .mainMenuLink {
	vertical-align: middle;
}

.path .inner .bracket, .path .inner .bracketClose {
	display: block;
	float: left;
	margin: 0;
}
.path .inner .bracketClose {
	margin: 0 0 0 2px;
}




.menuBox {
	position: absolute;
	margin: 5px 0 6px 11px;
	background-color: transparent;
	overflow: visible;  /* this is needed for corners ! */
	padding: 0;
	min-width: 136px;
	top: 24px;
}
.menuBox ul {
	margin: 0; 
	padding: 1px 0 1px 0;
	background-color: #eeeeee;
}

.menuBox li {
	line-height: 15px;
	margin-bottom: 3px;
}
.menuTopLeft, .menuTopRight,
.menuBottomRight, .menuBottomLeft,
.menuTop, .menuBottom, .menuRight, .menuLeft {
	position: absolute;
	background-color: transparent;
}
.menuTopLeft {
	top: -6px;
	left: -5px;
}
.menuTopRight {
	top: -6px;
	right: -7px;
}
.menuBottomLeft {
	bottom: -6px;
	left: -5px;
}
.menuBottomRight {
	bottom: -6px;
	right: -7px;
}
.menuTop {
	top: -6px;
	left: 0;
	width: 100%;
	height: 6px;
}
.menuBottom {
	bottom: -6px;
	left: 0;
	width: 100%;
	height: 6px;
}
.menuRight {
	top: 0;
	right: -7px;
	width: 7px;
	height: 100%;
}
.menuLeft {
	top: 0;
	left: -5px;
	width: 5px;
	height: 100%;
}



.featureItemRight{
	position: absolute; 
	right: 24px; 
	bottom: 20px;
	background-image: url(../images/startNavRight.gif);
	width: 13px;
	height: 13px;
}

.featureItemRight:hover{
	background-image: url(../images/startNavRight_h.gif);
}

.featureItemLeft{
	position: absolute; 
	left: 24px; 
	bottom: 20px;
	background-image: url(../images/startNavLeft.gif);
	width: 13px;
	height: 13px;
}
.featureItemLeft:hover{
	background-image: url(../images/startNavLeft_h.gif);
}


/********************************
            EDITOR
 **********************************/

label.dijit{
    width: auto !important;
    margin-right: 5px;
    float: none;
    display: inline;
}

.nihilo .dijitToolbar{
    background-image: none;
}

.dijitToolbar{
    background-color: #DDD;
}

.dijitToolbar div,
.dijitInputField{
    margin-bottom: 0px !important;
}

.dijitToolbar label{
    display: inline !important;
    width: auto !important;
}

.ctrlHolder{
    clear: both;
}

#wysiwyg_editor{
    border: 1px solid #888;
}






/*  FOOTER */

.mainFooter {
	position: relative;
	clear: both;
	padding: 10px 8px 0 8px;
	margin: 35px auto 30px auto;
	background-image: url(../images/dotsHorizontal.gif);
	background-position: left top;
	background-repeat: repeat-x;
}


.mainFooter h3 {
	margin: 0 0 4px 0;
}

.mainFooter .meta a {
	padding: 0 2px 0 2px;
	margin: 0 3px 0 3px;
	font-weight: normal;
	text-decoration: underline;
}

.mainFooter .meta a:hover, .mainFooter .meta a:focus {
	text-decoration: none;
}

.mainFooter .meta a.version {
	padding: 0px;
	margin: 0px;
}

.mainFooterBoxes {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.mainFooterBoxes a {
	font-weight: normal;
	line-height: 16px;
}

.mainFooterBox, .mainFooterFirstBox {
	float: left;
	margin: 0 0 -200px 15px;
	padding: 1px 13px 200px 13px;
	background-image: url(../images/dotsVertical.gif);
	background-position: left top;
	background-repeat: repeat-y;
}
.mainFooterFirstBox {
	margin: 0 0 0 0;
	padding: 0 13px 0 0;
	background-image: none;
}

.mainFooterBox ul, .mainFooterFirstBox ul {
	margin: 0 0 6px 0;
	padding: 0;
}

.mainFooter .meta {
	clear: both;
	margin-top: 16px;
}

.sepLine {
	position: relative;
	clear: both;
	margin: 0px 0px 15px 0px;
	width: 100%;
	font-size: 0px;
	line-height: 0px;
	height: 1px;

	background-image: url(../images/dotsHorizontal.gif);
	background-position: left top;
	background-repeat: repeat-x;
}

.sepLineBottom {
	position: relative;
	clear: both;
	margin: 0px 0px 10px 0px;
	width: 100%;
	background-image: url(../images/dotsHorizontal.gif);
	background-position: left bottom;
	background-repeat: repeat-x;
}

#ajax-message{
    margin-top: 50px;
    position: relative;
    width: 6px;
    left: 50%;
    overflow: visible;
}

#ajax-message div{
    padding: 5px;
    width: 500px;
    height: 15px;
    position: relative;
    text-align: center;
    font-size: 14px;
    margin-left: -250px;
    color: #FFFFFF;
    background-color: #dede59;
    font-weight: bold;
}


#ajax-message .error{
    background-color: #FF0000;
    color: #FFF;
    font-weight: bold;
}



