{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Passwort Zurücksetzen" %}{% endblock %}

{% block body %}
    <div class="profile-panel">
        <h1>Passwort Zurücksetzen</h1>

        {% if user.is_authenticated %}
            <p><span class="warning">Notiz</span>: Sie sind schon als Benutzer {{ user }} eingelogged.</p>
        {% endif %}

        <p>Es wurde Ihnen ein neues Passwort an <b>{{email}}</b> geschickt. Falls sie das nicht bekommen kontaktieren Sie uns unter <a href="mailto:{{contact_email}}">{{contact_email}}</a></p>

        {% url account.views.login as login_url %}

        <p>Sobald Sie Ihr neues Passwort bekommen sollten Sie sich  <a href="{{ login_url }}">einloggen</a> und das Passwort ändern</p>
    </div>
{% endblock %}
