{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}Passwort zurücksetzen{% endblock %}

{% block account_body %}
    <div class="register-bg">
        <div class="register-wrapper ui-corner-all">
            <form class="ui-corner-all" action="" method="POST">
                <h2 style="margin-top: 0px; margin-left: 140px;">
                    Reset Password</h2>

                <div>
                    <strong>Forgot your Password?</strong>
                    Please enter your email below and we will send you a new password.
                </div>
                <br />
                {{ password_reset_form|as_uni_form }}
                <div class="clearfix">
                    <div class = "form_next">
                        <button type="submit">Reset</button>
                    </div>
                </div>
                
                <hr />
                <div>
                    Having problems? Contact us:
                    <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
