{% extends "account/base.html" %}
{% load profile_tags %}
{% load i18n %}
{% load uni_form_tags %}
{% block head_title %}Passwort ändern{% endblock %}

{% load cache cms_tags %}
{% load cms_tags menu_tags %}

{% block account_body %}
    <div class="containerasd grey-body ui-corner-tl ui-corner-tr">
        {% show_profile_header user user "change password"%}
        {% include "account/account_menu.html" %}
        <div class="span-16">
            <div class="white-padded-round-bg ui-corner-all">
                <h2>Change Password</h2>
                <form id="profile_form" class="thin-form" method="POST" action="">
                    {{ password_change_form|as_uni_form }}
                    <div class="uniform_buttons">
                        <button type="submit">
                            change
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="span-7 last right-profile-panel">
            <!--{_% placeholder right-column %}-->
            <div class="white-padded-round-bg ui-corner-all">
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}