{% load object_to_content_type %}
{% load var_tag %}

{% if post %}
    {% var form_id = "post-form-instance" %}
{% else %}
    {% var form_id = "post-form" %}
{% endif %}

<form id="{{form_id}}" method="post" enctype="multipart/form-data">
    {% if post %}
        <input type="hidden" id="id" name="id" value="{{post.id}}" />
    {% endif %}
    <input type="hidden" id="post-lat" name="lat" />
    <input type="hidden" id="post-lng" name="lng" />
    <input type="hidden" name="medias" id="post-media-attachments" />
    <div style="position: absolute; top: 5px; right: 10px;">
        {% if post and post.has_location %}
            <div class="draggable-placed-wrapper">
                <div class="draggable-placed"
                     onclick="maptales.map.gotoContentObject('{{post|object_to_model_name}}', {{post.id}})"
                     onmouseover="maptales.map.selectContentObject('{{post|object_to_model_name}}', {{post.id}})"
                     onmouseout="maptales.map.deselectContentObject()">
                </div>
            </div>
            <span style="line-height: 30px; margin-right: 5px;">Is placed:</span> 
            
        {% else %}
            <div class="drop-target-wrapper">
                {% if post %}
                    <div class="draggable"
                        contenttype="{{post|object_to_model_name}}"
                        objectid="{{post.id}}" >
                    </div>
                {% else %}
                    <div class="draggable">
                    </div>
                {% endif %}
            </div>
            <span style="line-height: 30px; margin-right: 5px;">Place it by dragging to Map:</span>
        {% endif %}
    </div>
    <textarea name="text" id="post-text" cols="30" rows="5" class="ui-corner-all">{{post.text}}</textarea>
    <input type="hidden" name="attachedItems" id="attachedItems" />
    <div id="attachment-area" style="display: none;">
        <h3 style="margin: 10px 0 5px;">{% if post %}Attach more Items:{% else %}Attached Items:{% endif %}</h3>
        <div id="post-attachements" class="white-round-bg ui-corner-all">
        </div>
    </div>
    <div>
        <a id="addimages" rel="facebox" href="#upload_photos" title="Add Image to Post" class="button small-green-icon-button ui-corner-all" style="float:left; display: block;">
            <img src="{{ STATIC_URL }}images/add-image.png" style="margin-bottom: 8px;" />
        </a>
        <!--<a id="add_video_button" rel="facebox" href="#add_video" title="Add Video to Post" class="button small-green-icon-button ui-corner-all" style="float:left; margin-left: 5px;">
            <img src="{{ STATIC_URL }}images/add-video.png" />
        </a>-->
        <button type="submit" class="small-green-button ui-corner-all" style="float:right;">
            Post
        </button>
    </div>
    <div style="clear: both;"></div>
</form>

<script type="text/javascript">
    function initialize_draggables(){
        //initialize draggables
        $('.draggable').draggable({ appendTo: 'body', helper: 'clone',
            start: function(event, ui){
                $(ui.helper.context).hide()
            },
            stop: function(event, ui){
                //alert($(ui.helper.context).attr("contenttype"))
                endDrag(event, $(ui.helper.context).attr("contenttype"), $(ui.helper.context).attr("objectid"))
                $('#{{form_id}} #position-text').html("")
                $(ui.helper.context).addClass("draggable-placed")
                $(ui.helper.context).click(function(){
                   maptales.map.gotoMarker(marker)
                })
                $(ui.helper.context).show()
            }
        });
    }
    
    function endDrag(event, contentType, objectId){
       var pos = [event.pageX,event.pageY];
       var x = event.pageX - $("#map_canvas").offset().left;
       var y = event.pageY - $("#map_canvas").offset().top;

       if(x>0&&y>0){
            var latlng = maptales.map.gmap.fromContainerPixelToLatLng({x:x, y:y});
            var marker = maptales.map.placePosition(objectId, contentType, latlng);
            marker.setData({marker_image:"{{ STATIC_URL }}/images/post-75-75.gif"})
            marker.redraw(true)
            
            if(objectId && contentType){
                //use ajax if item is persistent already
                storePosition(objectId, contentType, latlng, function(reply){
                    marker.setData(reply)
                    marker.redraw(true)
                    successMessage("Position was stored")
                });
            }else{
                //write it in form if not
                $('#{{form_id}} #post-lat').val(latlng.lat())
                $('#{{form_id}} #post-lng').val(latlng.lng())
            }
       }
    }
    
    $(document).ready(function(){
        
        initialize_draggables()
    
        $("#{{form_id}}").ajaxForm({
            url: '{% url add_post_to_story story.id %}',
            dataType:  'html',
            iframe: true,
            beforeSubmit: function(){
                $('#{{form_id}} #post-media-attachments').val(postPictureAttachments.join(","))
                return true;
            },
            success:   function(reply){
                {% if post %}
                    load_storylineitem({{post.id}})
                    successMessage("Stored Item")
                {% else %}
                    reloadStoryline()
                    $("#{{form_id}}").parent().html(reply)
                    $('a[rel*=facebox], button[rel*=facebox]').facebox({
                        loadingImage : '{{STATIC_URL}}images/loading-24.gif',
                        closeImage   : '{{STATIC_URL}}facebox/closelabel.gif'
                    })
                {% endif %}
                postPictureAttachments = []
            },
        })
    })
</script>