{% extends "site_base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Login{% endblocktrans %}{% endblock %}

{% block body %}
    <div class="profile-panel">
        <h1>Login</h1>
        <form class="uniForm" id="edit-profile" method="POST" enctype="multipart/form-data" action="">
            {{ form|as_uni_form }}
            <div class="form_block">
                <input type="submit" value="Hochladen" />
            </div>
        </form>
    </div>
{% endblock %}

{{ form.as_ul }}