{% load uni_form_tags %}
{% load video_tags %}

<div id="dialog-container">
    <div class="span-6">
        <h2>Use existing Video</h2>
        <div id="dynamic_video_list_div">
            {% video_selector_list request "addVideo" %}
        </div>
    </div>
    <div class="span-2">
        <h2 style="margin-top:30px;">or</h2>
    </div>
    <div class="span-12 last">
        <h2>Import new Video</h2>
        <form id="video-form" method="POST" action="{% url add_video_to_story story.slug %}">
            {{video_form|as_uni_form}}
            <div class="uniform_buttons">
                <button type="submit">Submit</button>
                <button type="button" onclick="$('#add_video').dialog('close')">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function addVideo(id){
        post("{% url add_to_storyline story.slug %}", {added_objects: "video.video."+id}, "json", function(reply){
            reloadStoryline()
            $("#add_video").dialog("close")
        })
    }
</script>