{% extends "story/view_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load ifsetting_tag %}
{% load story_tags %}
{% load object_to_content_type %}
{% load comments_tag %}  
{% block head_title %}{% trans "Story" %}: {{story.title}}{% endblock %}

{% load avatar_tags %}
{% load addthis_tag %}
{% block header_container %}{% endblock %}
{% block footer %}{% endblock %}
{% block content_container %}
     <div class="embedded-story">
          <div id="story-finished-dialog" style="display: none;">
               <div id="dialog-container">
                    <h3>Finished Story</h3>
               </div>
          </div>
     
          <div class="story-view" id="adaptingContainer">
               <div class="ui-corner-tl ui-corner-tr" id="map_canvas" style="position: absolute; left: 0px; width: 100%; height: 100%; z-index: 1;">
                    <div id="map" style="height: 100%; width: 100%; top: 0px; left: 0px;" class="ui-corner-tl ui-corner-tr">
                    </div>
               </div>
               
               <div style="position: absolute; margin: 0 auto; width: 670px; height: 365px; bottom: 90px; right: 3px; z-index: 9999;">
                    <div id="storyline_scroller" style="">
                         <div class="control-bar">
                              <a href="#map_canvas" id="story-play" class="story-play">Play</a>
                         </div>
                         <div class="white-round-bg ui-corner-all" style="padding: 0px;">
                              <div class="scroll-backward ui-corner-tl ui-corner-bl" onclick="gotoPrevStorylineItem()">
                                   <div class="arrow"></div>
                              </div>
                              <div class="scroll-foreward ui-corner-tr ui-corner-br" onclick="gotoNextStorylineItem()">
                                   <div class="arrow"></div>
                              </div>
                              <div id="storyline_content">
                                   {% story_big_teaser story %}
                              </div>
                         </div>
                    </div>
               </div>
          
               <div style="position: absolute; bottom: 0px; width: 100%; z-index: 9999; height: 80px;">
                    <div style="position: absolute; bottom: 0px; width: 100%; height: 80px;">
                         <div class="white-round-bg ui-corner-all">
                              {% show_storyline_slider story "maptales.story.onSlideshowClick" "maptales.story.onFinished" %}
                         </div>
                    </div>
               </div>
          </div>
     </div>
     
     <script type="text/javascript">
          function onWinResize(is_initial){
               var dimensions = {};
               dimensions.width = $(window).width()
               dimensions.height = $(window).height()
               
               $('#adaptingContainer').width(dimensions.width);
               $('#adaptingContainer').height(dimensions.height);
               maptales.map.checkResize();
          }
          
          $(window).resize(function(){
               onWinResize()   
          })
          
          $(document).ready(function(){
               onWinResize()
               
               $('#storyline_scroller').fadeOut(20)
               
               maptales.story.onFlyStart = function(){
                    $('#storyline_scroller').fadeOut(2000)
               }
               
               maptales.story.onFlyFinish = function(){
                    $('#storyline_scroller').fadeIn(2000)
                    $('#storylineitem .image-black-bg').height($('#storylineitem .post-text').height()+32)
               }
               
               window.setTimeout(function(){
                    $('#storyline_scroller').fadeIn(2000)
               }, 9000)
              
          })
          
          var flash_vars = {
               zoomedInZoom: 17,
               zoomOutRange: 7,
               slidesTime: 8,
               zoomOutYaw: 40,
               zoomInYaw: 45,
               centerXOffset: 250,
          }
     </script>
{% endblock content_container %}
