{% load switchcase %}
{% load restructuredtext %}
{% load markup %}
{% load avatar_tags %}
{% load extra_tagging_tags %}

<div class="blog-entry-teaser">
     {% if blog_post.image %}
        <img src="{{ blog_post.postimage.get_blogposthome_url }}" alt="{{ blog_post.title }}" />
     {% else %}
        <!--<img src="/site_media/newsEintrag.jpg" alt="{{ blog_post.title }}" />-->
     {% endif %}

    <h2>{{ blog_post.title }}</h2>
    <p>{% render_content blog_post 'tease' %}</p>

    <p class="more">
        <span style="float: left;"><b>Posted:</b>
            <a href="{% url profile_detail blog_post.author.username %}">{{ blog_post.author.username }}</a> on {{ blog_post.publish|date }}
        </span>
        <a class="more" href="{{ blog_post.get_absolute_url }}">more</a>
    </p>
    <div style="clear: both;"></div>
</div>
