{% load object_to_content_type %}
{% load truncchar_tag %}

{% if storyline %}
    <ul class="story-list">
        {% for item in storyline %}
            
            <li class="storylineitem ui-corner-all">
                <div class="cancel-x" title="remove" posturl="{% url remove_from_storyline item.story.id item.id %}" ></div>
                <div class="edit" title="edit" onclick="load_edit_screen({{item.id}}); return false;"></div>
                
                {% if not item.has_location %}
                
                {% else %}
                    <div class="draggable-placed-wrapper" title="goto location">
                        <div class="draggable-placed" onclick="maptales.map.gotoContentObject('{{item|object_to_model_name}}', {{item.id}})"
                             onmouseover="maptales.map.selectContentObject('{{item|object_to_model_name}}', {{item.id}})"
                             onmouseout="maptales.map.deselectContentObject()">
                        </div>
                    </div>
                {% endif %}
                <span style="vertical-align:baseline;">
                    {% if item.get_image %}
                        <img src="{{item.get_image.0.content_object.get_30_35_url}}" alt=""  onclick="load_edit_screen({{item.id}});"  />
                    {% else %}
                        <span class="post-list-35-30" onclick="load_edit_screen({{item.id}});"></span>
                    {% endif %}
                </span>
                <span style="vertical-align:top;">
                    <span onclick="load_edit_screen({{item.id}});">{{item|truncchar:35}}</span>
                </span>
            </li>

        {% endfor %}
    </ul>
{% else %}
    <div class="info-padder">
       <h3>
        This Story is currently empty
        </h3>
        <p>
            Start the Story by adding something.                    <br />
            Once you have added Posts you can rearrange them by dragging them up and down.
        </p>
    </div>

{% endif %}

<script type="text/javascript">
    function initialize_reorder(){
        $('.story-list').sortable({ axis: 'y',
            stop: function(event, ui) {
                var endPosition = $(ui.item).parent().children().index(ui.item);
                $(ui.item).css({backgroundColor: "#d6ff3e"})
                $(ui.item).animate({
                    backgroundColor: "#FFF",
                }, 1000)

                reorderStoryline(this.startPosition, endPosition)
            },
            start: function(event, ui) {
               this.startPosition = $(ui.item).parent().children().index(ui.item);
            }
        })
        $('.story-list').disableSelection()
    }
    function initialize_removables(){
        $('.storylineitem .cancel-x').click(function(){
            self = this
            post($(this).attr("posturl"), {}, "text", function(){
                $(self).parents("li").fadeOut("slow")
            })
            return false;
        })
    }
    function reorderStoryline(oldPosition, newPosition){
        post("{% url reorder_storyline story.id %}", {oldPosition: oldPosition, newPosition: newPosition}, 'text', function(){
            successMessage("Successfully stored new Position")
        })
    }
    $(document).ready(function(){
        initialize_reorder();
        initialize_removables();
    })
</script>
