{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Seite wurde nicht gefunden{% endblock %}

{% block body %}
    <div class="register-bg">
        <div class="register-wrapper ui-corner-all">
            <form class="ui-corner-all" action="" method="POST">
                
                <h2 style="margin-top:0px">Your Feedback has been stored!</h2>
                <span>
                     Thanks for helping us improve our Website. <br />
                     The Maptales Team
                </span>
           
            </form>
        </div>
    </div>

{% endblock %}
