{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Learn More{% endblock %}

{% block body %}
    <div class="info-page ui-corner-tl ui-corner-tr">
        <div class="cloud1"></div>
        <div class="cloud2"></div>
        <div class="birds1"></div>
        <div class="birds2"></div>
        <div class="birds3"></div>
        <div class="info-page-container">
            <div class="info-header"></div>
            
            
            
            
            <div class="info-section">
                <img src="{{STATIC_URL}}images/learn-more/apps.png" align="right"/>
                <h3>Mobile Apps</h3>
                <p>
                 With our free Mobile Apps you can capture, edit and share your life whenever you are out & about, alone or as a group.
                 From city trips, holidays or favourite Pub tours to biking, walking, hiking or running, Maptales is the easiest way to map your experiences using geo location information.
                </p>
                <div style="clear: both;"></div>
            </div>
            
            <div class="info-section">
                <img src="{{STATIC_URL}}images/learn-more/friends.png" align="right"/>
                <h3>Collaborate with Friends</h3>
                <p>
                    Telling Stories alone can be boring. With Maptales your
                    Friends can create Experiences with you.
                </p>
                <div style="clear: both;"></div>
            </div>
            
            <div class="info-section">
                <img src="{{STATIC_URL}}images/learn-more/social_network_pyramide.png" align="right"/>
                <h3>Import from everywhere</h3>
                <p>
                   Do you prefer using Twitter for Microblogging, Flickr for you Images? No problem, just import your content from external sources.
                </p>
                <div style="clear: both;"></div>
            </div>
            
            <div class="info-section">
                <img src="{{STATIC_URL}}images/learn-more/export.png" align="right"/>
                <h3>Export your Stories</h3>
                <p>
                   You can export your Stories to Facebook, your Blog etc.
                </p>
                <div style="clear: both;"></div>
            </div>
            
            <div class="info-section">
                <img src="{{STATIC_URL}}images/learn-more/experiences.png" align="right"/>
                <h3>Find Experiences around You</h3>
                <p>
                    Enrich your experience with recommended waypoints that matter to you.
                    On the way we will recommend relevant waypoints, based on what you currently
                    want to do. Your suggested waypoint might be the “Art Gallery” while others
                    get the “Tattoo Shop” next to it. It’s all based on what you are interested
                    in and information from people who have had similar experiences to you.
                </p>
                <div style="clear: both;"></div>
            </div>
            
            <div class="info-section">
                <img src="{{STATIC_URL}}images/learn-more/votes.png" align="right"/>
                <h3>Do you like it?</h3>
                <p>
                  Help us decide which experiences are worth displaying and which are not. How? Just like/dislike them.
                </p>
                <div style="clear: both;"></div>
            </div>
            
            <div class="info-section">
                <img src="{{STATIC_URL}}images/learn-more/square.png" align="right"/>
                <h3>Square of Interest</h3>
                <p>
                  Explore experiences around you or monitor your favourite topics and places.
                  Simply pick an experience and explore it using a map or via Augmented Reality overlays.
                  Follow the trail and explore relevant waypoints such as sightseeing spots or shops
                  that mattered to people with similar interests to you.
                </p>
                <div style="clear: both;"></div>
            </div>
            
            <div class="info-section">
                <img src="{{STATIC_URL}}images/learn-more/location.png" align="right"/>
                <h3>Location, Location, Location ... </h3>
                <p>
                 Our goal is to help you find the good activities/locations/people around you.
                 The more you post the higher your rank gets in a certain area.
                </p>
                <div style="clear: both;"></div>
            </div>
            
            <div class="info-section">
                <img src="{{STATIC_URL}}images/learn-more/friends.png" align="right"/>
                <h3>Privacy</h3>
                <p>
                    You have full control over your privacy.
                    You can create Stories for Friends, Followers, Registered Users or
                    even make them publicly available
                </p>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    



{% endblock %}
