{% extends "site_base.html" %}
{% load profile_tags %}
{% load i18n %}

{% load cache cms_tags %}
{% load cms_tags menu_tags %}
{% block body %}
    <div class="containerasd grey-body ui-corner-tl ui-corner-tr">
        {% show_profile_header user user "change password"%}
        {% include "account/account_menu.html" %}
        <div class="span-16">
            <div class="white-padded-round-bg ui-corner-all">
                <h2>Notifications</h3>    
                
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}


