{% extends "site_base.html" %}
{% load i18n %}
{% load uni_form_tags %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Your Paths" %}{% endblock %}


{% block body %}
    <div>
        <a href="{% url upload_gpx %}">Neuen GPX Pfad hochladen</a>
    </div>
    <ul>
        {% for path in paths %}
            <li class="borderBox">
                <div class="bottomLeftCorner"></div>
                <div class="topLeftCorner"></div>
                <div class="topRightCorner"></div>
                <div class="bottomRightCorner"></div>
                <div class="infoBoxContentBigPadding">
                    <h2 class="top-heading">
                        <img src="{{ STATIC_URL }}/images/trail-58x27.gif" alt="" style="margin-right: 10px;"/>
                        <a href="{% url view_path path.id %}">
                            {{path}}
                        </a>
                        <small>(<a href="{% url edit_path path.id %}">edit</a> | <a href="{% url delete_path path.id %}?sucess_url">delete</a>)</small>
                    </h2>
                    {% if path.is_single_day %}
                        <b>{% trans "Recorded From" %}</b> {{path.start_time|date}} {{path.start_time|time}} - {{path.end_time|time}}
                    {% else %}
                        <b>{% trans "Recorded From" %}</b> {{path.start_time|date}} {{path.start_time|time}} until {{path.end_time|date}}
                    {% endif %}
                    <br />
                    <b>Duration:</b>{{path.start_time|timesince:path.end_time}}   <br />
                    <b>{% trans "Uploaded On" %}:</b> {{path.creation_date|date}} {{path.creation_date|time}} <br />
                    <b>{% trans "Distance" %}:</b> {{path.distance|floatformat:3}} km    <br />
                    <b>{% trans "Segments" %}</b>: {{path.segments.count}}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}