{% load photo_tags %}
{% load truncchar_tag %}
<div class="box" behaviour="toggleContainer" style="width:310px;">
    <div class="boxHeader">
        <div class="minimizer" onclick="Actions.initAction('toggleContainer', event);"></div>
        <div class="boxHeaderTitle"><h3>Users Stream</h3></div>
    </div>
    <div class="boxContent" id="toggledContainer">
      <div class="scrollPreviewSlot">
         <div class="scrollBackward"></div>
         <div class="scrollForward"></div>
          <ul class="scrollList">
               <li class="Picture-Icon-60">
                    <div class="iconCorner"></div>
                    <a class="bgIcon" href="{{previous_items.0.get_absolute_url}}">
                        <img src="{{previous_items.0.get_50x50_url}}" />
                        
                     </a>
               </li>
               <li dragged-object-id="12528" draggable="true" class="Picture-Icon-60 selectedScrollItem">
                  <a class="bgIcon" href="{{current.get_absolute_url}}">
                        <img src="{{current.get_50x50_url}}" />
                  </a>
                  
               </li>
               <li class="Picture-Icon-60">
                    <div class="iconCorner"></div>
                    <a class="bgIcon" href="{{next_items.0.get_absolute_url}}">
                        <img src="{{next_items.0.get_50x50_url}}" />
                    </a>
               </li>
               <li class="Picture-Icon-60">
                    <div class="iconCorner"></div>
                    <a class="bgIcon" href="{{next_items.1.get_absolute_url}}">
                        <img src="{{next_items.1.get_50x50_url}}" />
                     </a>
                     
               </li>
         </ul>
          <div style="clear:both;"></div>
         <span class="scrollIndex">Items {{index|add:"-1"}}-{{index|add:"2"}} of {{total}}</span>
      </div>  
    </div> 
</div>
<div style="clear: both; height: 9px;"></div>